.message {
  height: 140px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}
.message strong {
  font-weight: bold;
}

.buttons {
  display: flex;
  justify-content: space-between;
  width: 350px;
}
