<p>
Hi {{name}},
</p>
<p>
Thanks for submitting a case enquiry to Anika Legal. Anika Legal is closed for the end of year break from {close_date}, and we will reopen on {reopen_date}. 
<br/>
Your case number is {{fileref}}.
</p>
<p>
Once we return from the break, we will review your case to determine eligibility. We are operated by volunteers and appreciate your patience, as we find capacity to assign your matter.
</p>
<p>
Once a paralegal is assigned to your matter, they will email you to introduce themselves and organise a time to call you. Please note that any calls will appear from an unknown number.
</p>
<p>
If you have any questions in the meantime, or decide you no longer wish to proceed with our service, then you may reply to this email, or email us at the following address:
</p>
<p>
{{case_email}}
</p>
<p>
We wish you a safe and happy holiday period,
</p>
