{% extends "case/_base.html" %}
{% block title %}Paralegals {% endblock %}


{% block content %}
<div class="ui container">
    <h1 class="ui header">
        Lawyers
        <div class="sub header">
            Every user who a part of the Lawyer group
        </div>
    </h1>
    {% include 'case/paralegals/_list_results.html' with users=lawyers table_id="lawyer-table"%}

    <h1 class="ui header">
        Paralegals
        <div class="sub header">
            Every user who a part of the Paralegal group
        </div>
    </h1>
    <form 
        id="search-form"
        class="ui form"
        hx-get="{% url 'paralegal-search' %}"
        hx-target="#paralegal-table"
        hx-swap="outerHTML"
        hx-trigger="change, keyup delay:0.3s"
    >
        <div class="equal width fields">
            {% include 'case/forms/_text_field.html' with field=form.name placeholder="Find paralegals by name or email" %}
            {% include 'case/forms/_dropdown_field.html' with field=form.is_intern %}
        </div>
    </form>
  
    <script>
    $('.selection.dropdown').dropdown()
    $('#search-form').on('submit', e => e.preventDefault())
    </script>
    {% include 'case/paralegals/_list_results.html' with users=paralegals table_id="paralegal-table"%}
</div>
{% endblock %}