{% extends "case/_base.html" %}
{% block title %}Case {{ issue.fileref }}{% endblock %}

{% block content %}
<style>
    textarea {
        overflow: hidden;
        resize: none !important;
        min-height: 240px;
    }
</style>
<div class="ui container">
    <h2 class="ui header">
        {{ template.name }}: {{ template.subject }}
        <div class="sub header">
            Email template for {{ template.get_topic_display|lower }} cases
        </div>
    </h2>
    <form class="ui form">        
        <div class="field">
            <textarea readonly>{{ template.text }}</textarea>
        </div>
    </form>
</div>
<script>
    const textEl = document.querySelector('textarea')
    textEl.style.height = textEl.scrollHeight
</script>
{% endblock %}