{% extends "web/_base.html" %} 
{% block title %}Join our team{% endblock %} 
{% block content %}
<div class="segment">
    <div class="container">
        <h1>Join our team</h1>
        <div class="divider"></div>
    <p>
        We're currently working on posting our job listings here - watch this space.
        <br class="desktop-break">
        In the meantime, please send any volunteer or employment enquiries to <strong>people@anikalegal.com</strong>
    </p>
    </div>

</div>
{% endblock %}
