# General
*.log

# IDE
.idea/

# Python
*.pyc

# NodeJS / Webpack
node_modules/
npm-debug.log.*
frontend/build/
webpack-stats.json

# Docker stuff
.docker_temp*
image.tar

# CircleCI stuff
.checksum

# Ansible
*.secret.*
*.retry
