# General
*.log
*.pdf

# IDE
.idea/
.vscode/

# Python
*.pyc
env/

# Tests
*pytest_cache*
test_media/

# Docker stuff
.docker_temp*
image.tar
.env

# CircleCI stuff
.checksum

# Ansible
*.secret.*
*.retry
