# General
*.log

# IDE
.idea/
.vscode/

# Python
*.pyc
env/

# NodeJS / Webpack
node_modules/
npm-debug.log.*
frontend/build/
webpack-stats.json

# Docker stuff
.docker_temp*
image.tar
.env

# CircleCI stuff
.checksum

# Ansible
*.secret.*
*.retry
