{% load static %}
<html lang="en">

<head>
    <title>
        {% block title %}{% endblock %}
    </title>
    <!-- Meta tags -->
    <meta charset="utf-8">
    <!-- Favicon -->
    <link rel="icon" type="image/png" href="{% static 'brand/logo-icon-color.png' %}">
    <!-- Styling -->
    <link rel="stylesheet" type="text/css" href="{% static 'semantic/semantic.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/global.css' %}">
</head>

<body>
    <header class="ui menu">
        <div class="item">
            <img src="{% static 'brand/logo-icon-color.png' %}" />
        </div>
        <a class="item">Lorem</a>
        <a class="item">Ipsum</a>
        <a class="item">Dolor</a>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <!-- Global scripts -->
    <script type="text/javascript" src="{% static 'semantic/semantic.bundle.min.js' %}"></script>
</body>


</html>