{% extends "case/_base.html" %}
{% block title %}{{ user.get_full_name|title }}{% endblock %}

{% block content %}
<div class="ui container">
    <h1 class="ui header">
        {{ user.get_full_name|title }} {% if user.is_intern %}(intern){% endif %}
        <div class="sub header">
            {{ user.email }}
        </div>
    </h1>

    <h2 class="ui header dividing">
        User Details
    </h2>
    {{ forms.details }}

    <h2 class="ui header dividing">
        User Permissions
    </h2>
    {{ forms.permissions }}

    <h2 class="ui header dividing">
        Case Summary
    </h2>
    <table class="ui definition small table">
        <tbody>
            <tr>
                <td class="six wide">Latest Case</td>
                {% if user.latest_issue_created_at %}
                    <td class="six wide">{{ user.latest_issue_created_at|date:"d/m/y" }}</td>
                {% else %}
                    <td class="six wide">Never</td>
                {% endif %}
            </tr>
            <tr>
                <td>Open (Repairs / COVID / Eviction)</td>
                <td>{{user.open_cases }} ({{user.open_repairs }}/{{user.open_rent_reduction }}/{{user.open_eviction }})</td>
            </tr>
            <tr>
                <td>Total Cases</td>
                <td>{{ user.total_cases }}</td>
            </tr>
        </tbody>
    </table>

    <h2 class="ui header dividing">
        Case List
    </h2>
    {% include "case/snippets/_case_list_table.html" with issues=user.issue_set.all %}

</div>
{% endblock %}

