{% extends "case/_base.html" %}
{% block title %}Case {{ issue.fileref }}{% endblock %}




{% block content %}
<div class="ui container">
    {% include 'case/_case_detail_header.html' with active="email" %}
    <div class="ui segment padded">
        Case email address: <strong>{{ case_email_address }}</strong>
    </div>
    <form 
        class="ui form  {% if form.errors %}error{% else %}success{% endif %}"
        hx-post="./draft/"
        hx-target="this"
    >
        <p>
            Close the case. 
        </p>
        <p>
            Please make sure you correctly set all of the fields in this form.
            This data is crucial for our reporting and decision making.
        </p>
        <hr class="ui divider" />
        {% include 'case/snippets/_dropdown_field.html' with field=form.outcome %}
        {% include 'case/snippets/_textarea_field.html' with field=form.outcome_notes %}
        {% include 'case/snippets/_checkbox_field.html' with field=form.provided_legal_services %}
        {% include 'case/snippets/_form_errors.html' %}
        {% include 'case/snippets/_form_success.html' %}
        <button class="ui positive button" type="submit">Close case</button>
    </form>
    <script>
        // Initialize JavaScript enabled Semantic UI elements.
        $('.selection.dropdown').dropdown()
    </script>
    <div class="email-list">
        {% for email in emails %}
            <div class="ui card fluid">
                <div class="content">
                    <div class="header">
                        {{ email.subject|default:"(no subject)" }}
                    </div>
                    <div class="meta">
                        From {{ email.from_address }} to {{ email.to_address}}
                    </div>
                    {% if email.cc_addresses %}
                        <div class="meta">
                            Also sent to {{ email.cc_addresses|join:', ' }} 
                        </div>
                    {% endif %}
                    <div class="description">
                        {{ email.html|safe }}
                    </div>
                </div>
                {% if email.emailattachment_set.exists %}
                    <div class="extra content">
                        <h5>Attached files</h5>
                        <ul>
                            {% for attachment in email.emailattachment_set.all %}
                                <a href="{{ attachment.file.url }}">
                                    {{ attachment.file.display_name }}
                                </a>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
                <div class="extra content">
                    {% if email.state == "INGESTED" %}
                        Received {{ email.created_at }}
                    {% else %}
                        Sent {{ email.created_at }}
                        by {{ email.sender.get_full_name }}
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

