{% extends "case/_base.html" %}
{% block title %}Client {{ client.get_full_name|title }}{% endblock %}




{% block content %}
<div class="ui container">
    <h1 class="ui header">
        {{ client.get_full_name|title }} (Client)
        <div class="sub header">
            Created {{ client.created_at|date:"jS M 'y" }}, updated {{ client.modified_at|date:"jS M 'y" }}
        </div>
    </h1>
    {{ form }}


    <table class="ui definition table small">
        <tbody>
            {% for info in client_info %}
                <tr>
                    <td class="three wide">{{ info.label }}</td>
                    <td>{{ info.value }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <h1>Cases</h1>
    {% include "case/snippets/_case_list_table.html" with issues=client.issue_set.all %}
</div>
{% endblock %}

