{% extends "case/_base.html" %}
{% block title %}Example{% endblock %}

{% block content %}
<div class="ui container">
    <h1>Hello, world!</h1>
    <p>
        Upon my word you give your opinion very decidedly for so young a person. I must find Mr. Gardiner this moment,
        on business that cannot be delayed; I have not an instant to lose. If, therefore, an excuse for not keeping his
        promise should come to his friend within a few days I shall know how to understand it. Allow me, by the way, to
        observe, my fair cousin, that I do not reckon the notice and kindness of Lady Catherine de Bourgh as among the
        least of the advantages in my power to offer. I am not ashamed of having been mistaken--or, at least, it is
        light, it is nothing in comparison of what I should feel in thinking ill of him or his sisters. Miss Elizabeth
        Bennet! I am all astonishment. I do not mean to say that a woman may not be settled too near her family. I am
        not. He is just what a young man ought to be sensible, good-humoured, lively; and I never saw such happy
        manners!--so much ease, with such perfect good breeding!
    </p>
    <p>Well have it as you choose. There are few people in England, I suppose, who have more true enjoyment of music
        than myself, or a better natural taste. Did you see him while you were at Lambton? I thought I understood from
        the Gardiners that you had. Insolent girl! You are much mistaken if you expect to influence me by such a paltry
        attack as this. He knows where we live. I can now say with the housekeeper, that though some people may call him
        proud, I have seen nothing of it. Only look at her. Has your governess left you? They have both been deceived, I
        dare say, in some way or other, of which we can form no idea.</p>
</div>
{% endblock %}