{% extends "case/_base.html" %}
{% block title %}{{ paralegal.get_full_name|title }}{% endblock %}

{% block content %}
<div class="ui container">
    <h1 class="ui header">
        {{ paralegal.get_full_name|title }} {% if paralegal.is_intern %}(intern){% endif %}
        <div class="sub header">
            {{ paralegal.email }}
        </div>
    </h1>

    <div class="ui two column grid">
        <div class="column">
            <div class="ui card fluid">
                <div class="content">
                    <div class="header">Overview</div>
                    <table class="ui definition small table">
                        <tbody>
                            <tr>
                                <td class="six wide">Latest Case</td>
                                <td class="six wide">{{ paralegal.latest_issue_created_at|date:"d/m/y" }}</td>
                            </tr>
                            <tr>
                                <td>Open (Repairs / COVID / Eviction)</td>
                                <td>{{paralegal.open_cases }} ({{paralegal.open_repairs }}/{{paralegal.open_rent_reduction }}/{{paralegal.open_eviction }})</td>
                            </tr>
                            <tr>
                                <td>Total Cases</td>
                                <td>{{ paralegal.total_cases }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="ui card fluid">
                <div class="content">
                    <div class="header">Paralegal Details</div>
                    <div class="description">
                        {{ forms.form }}
                    </div>
                </div>
            </div>
        </div>
    </div>


    <h2 class="ui header dividing">
        Cases
    </h2>

    <table class="ui celled table">
        <thead>
            <tr>
                <th>File Ref</th>
                <th>Topic</th>
                <th>Client</th>
                <th>Created</th>
                <th>Open</th>
                <th>Advice</th>
                <th>Stage</th>
                <th>Outcome</th>
            </tr>
        </thead>
        <tbody>
        {% for issue in paralegal.issue_set.all %}
            <tr>
                <td>
                    <a href="{% url 'case-detail' issue.pk %}">
                        {{ issue.fileref }}
                    </a>
                </td>
                <td>{{ issue.get_topic_display }}</td>
                <td>{{ issue.client.get_full_name|title }}</td>
                <td>{{ issue.created_at|date:"d/m/y" }}</td>
                <td class="center aligned">
                    {% if issue.is_open %}
                        <i class="green checkmark icon"></i>
                    {% else %}
                        <i class="yellow close icon"></i>
                    {% endif %}
                </td>
                <td class="center aligned">
                    {% if issue.provided_legal_services %}
                        <i class="green checkmark icon"></i>
                    {% else %}
                        <i class="yellow close icon"></i>
                    {% endif %}
                </td>
                
                <td>{{issue.get_stage_display|default:"-" }}</td>
                <td>{{issue.get_outcome_display|default:"-" }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


</div>
{% endblock %}

