{% extends "case/_base.html" %}
{% block title %}Paralegals {% endblock %}


{% block content %}
<div class="ui container">
    <h1>Paralegals</h1>
    <table class="ui celled table">
        <thead>
            <tr>
                <th>Name</th>
                <th class="center aligned">Latest Case</th>
                <th class="center aligned">Capacity (%)</th>
                <th class="center aligned">Open (Repairs / COVID / Eviction)</th>
                <th class="center aligned">Total Cases</th>
            </tr>
        </thead>
        <tbody>
        {% for paralegal in paralegals %}
            <tr>
                <td {% if paralegal.is_intern %}class="blue"{% endif %}>
                    <a href="{% url 'paralegal-detail' paralegal.pk %}">
                        {{ paralegal.get_full_name|title }} {% if paralegal.is_intern %}(intern){% endif %}
                    </a>               
                </td>                
                <td class="center aligned">{{ paralegal.latest_issue_created_at|date:"d/m/y" }}</td>
                {% if paralegal.capacity == 0 %}
                    <td class="center aligned">{{paralegal.capacity|floatformat:'0' }}</td>
                {% elif paralegal.capacity < 50 %}
                    <td class="center aligned green">{{paralegal.capacity|floatformat:'0' }}</td>
                {% elif paralegal.capacity < 75 %}
                    <td class="center aligned yellow">{{paralegal.capacity|floatformat:'0' }}</td>
                {% elif paralegal.capacity < 100 %}
                    <td class="center aligned orange">{{paralegal.capacity|floatformat:'0' }}</td>
                {% else %}
                    <td class="center aligned red">{{paralegal.capacity|floatformat:'0' }}</td>
                {% endif %}


                <td class="center aligned">{{paralegal.open_cases }} ({{paralegal.open_repairs }}/{{paralegal.open_rent_reduction }}/{{paralegal.open_eviction }})</td>
                <td class="center aligned">{{paralegal.total_cases }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}