{% extends "case/_base.html" %}
{% load render_bundle from webpack_loader %}
{% block title %}{{ title }}{% endblock %}

{% block styles %}
{% render_bundle react_page_name 'css' %}
{% endblock %}




{% block content %}
<div id="app"></div>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
    window.REACT_CONTEXT = JSON.parse("{{ react_context | escapejs }}");
    {% if SENTRY_JS_DSN %}
    window.SENTRY_JS_DSN = "{{ SENTRY_JS_DSN }}"
    {% endif %}
</script>
{% render_bundle react_page_name 'js' %}
{% endblock %}

