{% extends 'case/_base.html' %}
{% load django_vite %}
{% block title %}
  {{ title }}
{% endblock %}

{% block styles %}
  {% vite_hmr_client %}
  {% vite_react_refresh %}
  {% with asset_name='pages/'|add:react_page_name|add:'.tsx' %}
    {% vite_asset asset_name %}
  {% endwith %}
{% endblock %}

{% block content %}
  <div id="app"></div>
{% endblock %}

{% block scripts %}
  <script type="text/javascript">
    window.REACT_CONTEXT = JSON.parse('{{ react_context | escapejs }}')
    window.SENTRY_CONTEXT = JSON.parse('{{ sentry_context | escapejs }}')
  </script>
{% endblock %}
