<div id="email-draft-attachments">
{% if email.emailattachment_set.count > 0 %}
    <h5>Attached files</h5>
    <ul>
        {% for attachment in email.emailattachment_set.all %}
            <li>
                <a href="{{ attachment.file.url }}">
                    {{ attachment.file.name }}
                </a>
                &nbsp;
                <button 
                    class="ui button red small"
                    hx-delete="{% url 'case-email-attach' issue.pk email.pk attachment.pk %}"
                    hx-target="#email-draft-attachments"
                    hx-swap="outerHTML"
                    {% if is_disabled %}disabled{% endif %}
                >
                    Delete
                </button>
            </li>
        {% endfor %}
    </ul>
{% endif %}
</div>