{% load static %}
<style>
    .email-content {
        padding: 1em 0;
    }
    .email-content label {
        display: none !important;
    }
    .email-content .text {
        display: grid;
        gap: 2em;
        padding-top: 1em;
        grid-template-columns: 1fr 1fr;
    }
    .email-content textarea {
        overflow: hidden;
        resize: none !important;
        min-height: 240px;
    }

</style>
<form id="email-form" method="post" class="ui form {% if form.errors %}error{% else %}success{% endif %}"
    enctype="multipart/form-data">
    {% csrf_token %}
    {% include 'case/forms/_text_field.html' with field=form.subject placeholder="A very important email" %}
    {% include 'case/forms/_text_field.html' with field=form.to_address placeholder="jane@example.com" %}
    {% include 'case/forms/_text_field.html' with field=form.cc_addresses placeholder="anne@example.com, mark@example.com" %}
    <div class="email-content">
        <div class="ui segment secondary">
            Emails can be formatted using Markdown. See
            <a href="https://www.markdownguide.org/cheat-sheet/#basic-syntax" target="_blank" rel="noopener noreferrer">here</a>
            for a basic reference.
        </div>
        <div class="text">
            {% include 'case/forms/_textarea_field.html' with field=form.text rows=12 placeholder="Dear Ms Example..." %}
            <div class="field ">
                <label>Preview</label>
                <div id="email-html"></div>
            </div>
        </div>
    </div>
    <input type="hidden" id="html-input" name="html" value="" />
    {% if email %}
    <div class="field {% if field.errors %}error{% endif %}">
        <label>Add attachments from your computer</label>
        <p style="opacity: 0.7">You must save this email as a draft to attach these files</p>
        <input type="file" multiple name="attachments" {% if is_disabled %}disabled{% endif %}>
    </div>
    <div class="field">
        <label>Add attachments from SharePoint</label>
        <p style="opacity: 0.7">You must save this email as a draft to attach these files</p>
        <div id="dropdown-sharepoint"
            class="ui search multiple selection dropdown {% if is_disabled %}disabled{% endif %}">
            <div class="text"></div>
            <i class="dropdown icon"></i>
            <input type="hidden" class="noselection" name="sharepoint_attachments">
        </div>
        <script>
            $('#dropdown-sharepoint').dropdown({
                placeholder: "Select a document",
                match: 'text',
                fullTextSearch: true,
                values: [
                    {% for option in sharepoint_options %}
                    {
                        name: "{{ option.name }}",
                        value: "{{ option.value }}",
                    },
                    {% endfor %}
                    ]
                })
        </script>
    </div>
    {% else %}
    <p>You can add attachments after creating the draft email.</p>
    {% endif %}
    {% include 'case/forms/_form_errors.html' %}
    {% include 'case/forms/_form_success.html' %}
    {% if email and email.state != "READY_TO_SEND" %}
    <button class="ui positive button" type="submit">Save draft</button>
    <button
        class="ui button primary"
        hx-post="{% url 'case-email-send' issue.pk email.pk %}"
        hx-target="#email-form"
        hx-confirm="Send this email? Remember to save any changes before sending."
    >
        Send email
    </button>

    <a href="{% url 'case-email-preview' issue.pk email.pk %}" target="_blank">
        <button class="ui button" type="button">
            Preview
        </button>
    </a>

    <button
        class="ui button red"
        hx-delete="{% url 'case-email-edit' issue.pk email.pk %}"
        hx-target="#email-form"
        hx-confirm="Delete this draft email?"
    >
        Delete draft
    </button>
    {% elif email and email.state == "READY_TO_SEND" %}
    <button 
        class="ui button primary"
        disabled
        hx-target="#email-form"
        hx-post="{% url 'case-email-send' issue.pk email.pk %}"
        hx-trigger="every 0.5s"
    >
        Sending email...
    </button>
    {% else %}
    <button class="ui positive button" type="submit">Create draft email</button>
    {% endif %}
    {% include 'case/case/email/_draft_attachments.html' %}
</form>
<script src="{% static 'showdown.min.js' %}"></script>
<script>
    const converter = new showdown.Converter()
    showdown.setFlavor('github');
    const textEl = document.querySelector('textarea')
    const htmlEl = document.getElementById("email-html")
    const inputEl = document.getElementById("html-input")
    const onTextChange = s => {
        textEl.style.height = textEl.scrollHeight
        const html = converter.makeHtml(s);
        htmlEl.innerHTML = html
        inputEl.value = html
    }

    onTextChange(textEl.value)
    textEl.addEventListener('input', e => onTextChange(e.target.value))
</script>