{% extends "case/_base.html" %}
{% block title %}Case {{ issue.fileref }}{% endblock %}

{% block styles %}
<style>
.template-list {
    display: grid;
    gap: 2em;
    grid-template-columns: 1fr 1fr 1fr;
}
.template-list .template {
    padding: 0.5em 1em;
    background: var(--blue-light);
    border-radius: 0.5em;
    color: var(--dark-2);
    border: 1px solid var(--grey-2);
}
.template-list .template h5 {
    margin: 0.5em 0;
}

</style>
{% endblock %}

{% block content %}
<div class="ui container">
    <h2 class="ui header">
        Create new draft {% if parent_email %}reply{% endif %} email
        <span class="sub header">
            <a href="{% url 'case-email-list' issue.pk %}">
                Back to case emails
            </a>
        </span>
    </h2>

    <div style="display: flex;flex-wrap: wrap;gap: 0.5rem;margin-bottom:1rem">
        {% for case_email in case_emails %}
        <span class="ui {% if forloop.first %}yellow{% else %}blue{% endif %} label">
            {{ case_email.name }}, {{ case_email.role }}
            <div class="detail">{{ case_email.email }}</div>
        </span>
        {% endfor %}
    </div>

    <div class="ui styled accordion fluid" style="margin-bottom: 1em">
        <div class="title">
          <i class="dropdown icon"></i>
          Use an email template
        </div>
        <div class="content">
            <div class="template-list">
            {% for template in templates %}
            <div class="template">
                <h5>{{ template.name }}</h5>
                <p>{{ template.subject }}</p>
                <a class="ui label" href="{% url 'template-detail' template.pk %}" target="_blank">
                  <i class="eye icon"></i> View
                </a>
                <a class="ui label" href="{{ template.url }}">
                  <i class="mail icon"></i> Use
                </a>
            </div>
            {% endfor %}            
            </div>
        </div>
    </div>      

    {% if parent_email %}
    <div class="ui styled accordion fluid" style="margin-bottom: 1em">
        <div class="title">
          <i class="dropdown icon"></i>
          You are replying to this email
        </div>
        <div class="content">
            <div class="ui card fluid">
                <div class="ui top attached primary label">
                    {{ parent_email.subject|default:"(no subject)" }}
                </div>
                <div class="content">
                    <div class="meta">
                        From {{ parent_email.from_address }} to {{ parent_email.to_address}}
                    </div>
                    {% if parent_email.cc_addresses %}
                    <div class="meta">
                        Also sent to {{ parent_email.cc_addresses|join:', ' }}
                    </div>
                    {% endif %}
                    <div class="description">
                        {{ parent_email.html|safe }}
                    </div>
                </div>
                {% if parent_email.emailattachment_set.exists %}
                <div class="extra content">
                    <h5>Attached files</h5>
                    <ul>
                        {% for attachment in parent_email.emailattachment_set.all %}
                        <a href="{{ attachment.file.url }}">
                            {{ attachment.file.name }}
                        </a>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}
            </div>
        </div>
    </div>      
    {% endif %}
    {% include 'case/case/email/_email_form.html' %}
</div>
{% endblock %}

{% block scripts%}
<script>
    $('.ui.accordion').accordion()
</script>
{% endblock %}