{% extends "case/_base.html" %}
{% block title %}Case {{ issue.fileref }}{% endblock %}


{% block content %}
<div class="ui container">
    {% include 'case/case/_detail_header.html' with active="email" %}
    <div class="ui segment padded">
        Case email address: <strong>{{ case_email_address }}</strong>
    </div>
    <h2 class="ui header">Draft Emails</h2>
    <div class="ui segment padded">
        {% if draft_emails %}
            <div class="ui relaxed divided list">
                {% for email in draft_emails %}
                    <div class="item">
                        <i class="large mail middle aligned icon"></i>
                        <div class="content">
                        <a href="{% url 'case-email-edit' issue.pk email.pk %}" class="header">
                            {{ email.subject }}
                            {% if email.state != "DRAFT" %}(sending){% endif %}
                        </a>
                        <div class="description">To {{ email.to_address }}</div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        <a href="{% url 'case-email-draft' issue.pk %}">
            <button class="ui button primary" type="submit">New Draft</button>
        </a>
    </div>
    <h2 class="ui header">Sent / Received Emails</h2>
    <div class="email-list">
        {% for email in display_emails %}
            <div class="ui card fluid">
                <div class="content">
                    <div class="header">
                        {{ email.subject|default:"(no subject)" }}
                    </div>
                    <div class="meta">
                        From {{ email.from_address }} to {{ email.to_address}}
                    </div>
                    {% if email.cc_addresses %}
                        <div class="meta">
                            Also sent to {{ email.cc_addresses|join:', ' }} 
                        </div>
                    {% endif %}
                    <div class="description">
                        {{ email.html|safe }}
                    </div>
                </div>
                {% if email.emailattachment_set.exists %}
                    <div class="extra content">
                        <h5>Attached files</h5>
                        <ul>
                            {% for attachment in email.emailattachment_set.all %}
                                <a href="{{ attachment.file.url }}">
                                    {{ attachment.file.name }}
                                </a>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
                <div class="extra content">
                    {% if email.state == "INGESTED" %}
                        Received {{ email.created_at }}
                    {% elif email.state == "READY_TO_SEND" %}
                        Sending...
                    {% else %}
                        Sent {{ email.created_at }}
                        by {{ email.sender.get_full_name }}
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

