{% extends "case/_base.html" %}
{% block title %}Case {{ issue.fileref }}{% endblock %}

{% block styles %}
<style>
    .list .item {
        padding-top: 1rem !important;
        padding-bottom: 1rem !important;
    }
</style>
{% endblock%}

{% block content %}
<div class="ui container">
    {% include 'case/case/_detail_header.html' with active="email" %}
    <h2 class="ui header">
        Case emails
        <span class="sub header">
            You can contact this mailbox at: <strong>{{ case_email_address }}</strong>
            <br>
            Emails are grouped into threads by subject line <strong>only</strong>.
            Please verify senders and recipients when reading and sending emails.
        </span>
    </h2>
    {% include 'case/forms/_form_success.html' %}
    <a href="{% url 'case-email-draft' issue.pk %}">
        <button class="ui button primary" type="submit">New Draft</button>
    </a>
    <div class="ui celled relaxed big list" style="margin-top: 2rem">
        {% for thread in email_threads %}
        <div class="item">
            <div class="right floated content">
                {% if thread.count_drafts > 0 %}
                <div class="ui label primary">
                    <i class="mail icon"></i> {{ thread.count_drafts }} drafts
                </div>
                {% endif %}
                {% if thread.count_sent > 0 %}
                <div class="ui label">
                    <i class="mail icon"></i> {{ thread.count_sent }} sent
                </div>
                {% endif %}
                {% if thread.count_received > 0 %}
                <div class="ui label">
                    <i class="mail icon"></i> {{ thread.count_received }} received
                </div>
                {% endif %}
            </div>
            <div class="content">
                <a class="header" href="{% url 'case-email-thread' issue.pk thread.slug %}">
                    {{ thread.subject }}
                </a>
                {{ thread.emails|length }} emails, most recent {{ thread.most_recent|date:"d/m/y" }}
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}