{% extends "case/_base.html" %}
{% block title %}Case {{ issue.fileref }}{% endblock %}

{% block content %}
<div class="ui container">
    <h2 class="ui header">
        {{ email_thread.subject }}
        <span class="sub header">
            Most recent emails are at the top<br>
            <a href="{% url 'case-email-list' issue.pk %}">
                Back to case emails
            </a>
        </span>
    </h2>
    <div class="email-list">
        {% for email in email_thread.emails %}
        <div class="ui card fluid">
            {% if email.state == "DRAFT" %}
            <div class="ui top attached primary label">Draft</div>
            {% elif email.state == "SENT" %}
            <div class="ui top attached teal label">Sent on {{ email.created_at|date:"l jS F Y, g:i A" }} by by {{ email.sender.get_full_name }}</div>
            {% elif email.state == "INGESTED" %}
            <div class="ui top attached orange label">Received at {{ email.created_at|date:"l jS F Y, g:i A" }}</div>
            {% elif email.state == "READY_TO_SEND" %}
            <div class="ui top attached primary label">Sending...</div>
            {% endif %}
            <div class="content">
                <div class="header">
                    {{ email.subject|default:"(no subject)" }}
                </div>
                <div class="meta">
                    From {{ email.from_address }} to {{ email.to_address}}
                </div>
                {% if email.cc_addresses %}
                <div class="meta">
                    Also sent to {{ email.cc_addresses|join:', ' }}
                </div>
                {% endif %}
                <div class="description">
                    {{ email.html|safe }}
                </div>
            </div>
            {% if email.emailattachment_set.exists %}
            <div class="extra content">
                <h5>Attached files</h5>
                <ul>
                    {% for attachment in email.emailattachment_set.all %}
                    <a href="{{ attachment.file.url }}">
                        {{ attachment.file.name }}
                    </a>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
            {% if email.state == "DRAFT" %}
                <div class="extra content">
                    <a 
                        href="{% url 'case-email-edit' issue.pk email.pk %}"
                        class="header"
                        target="_blank"
                    >
                        <button class="ui button primary">Edit Draft</button>
                    </a>
                </div>
                {% elif email.state == "INGESTED" %}
                <div class="extra content">
                    <a 
                        href="{% url 'case-email-draft' issue.pk %}?parent={{ email.pk | urlencode }}"
                        class="header"
                        target="_blank"
                    >
                        <button class="ui button">Reply</button>
                    </a>
                </div>
                {% endif %}
        </div>
        {% endfor %}
    </div>


</div>
{% endblock %}