<div class="ui segment" id="options">
    <div class="ui middle divided aligned selection list">
        {% for option in options %}
            <div 
                class="item"
                    hx-get="{{ option.url }}"
                    hx-target="#options"
                    hx-swap="outerHTML"
            >
                <div class="content">
                    <div class="header">
                        <i class="{{ option.icon }} icon"></i>
                        {{ option.text }}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>