<div style="margin-bottom: 3rem">
    <h1 class="ui header">
        {{ issue.get_topic_display }} case for {{ issue.client.get_full_name|title }} ({{ issue.fileref }})
        <div class="sub header">
            Created {{ issue.created_at|date:"jS M 'y" }}, last updated {{ issue.modified_at|date:"jS M 'y" }}
            <br/>
            {% include 'case/case/_assigned_paralegal_link.html' with paralegal=issue.paralegal lawyer=issue.lawyer %}

            {% if actionstep_url %}
                (<a href="{{actionstep_url}}">view in Actionstep</a>)
            {% else %}
                (Actionstep link not available)
            {% endif %}
        </div>
    </h1>
    {% include 'case/case/_status.html' with issue=issue %}
</div>
<div class="ui top attached tabular menu">
    <a href="{% url 'case-detail-view' issue.pk %}" class="item {% if active == 'detail' %}active{% endif %}">            
        <i class="clipboard outline icon"></i>
        Details
    </a>
    <a href="{% url 'case-email-list' issue.pk %}" class="item {% if active == 'email' %}active{% endif %}">            
        <i class="envelope outline icon"></i>
        Email
    </a>
    <a href="{% url 'case-docs' issue.pk %}" class="item {% if active == 'documents' %}active{% endif %}">
        <i class="folder open outline icon"></i>
        Documents
    </a>
</div>
