{% extends "case/_base.html" %}
{% block title %}Case {{ issue.fileref }}{% endblock %}




{% block content %}
<div class="ui container">
    {% include 'case/case/_detail_header.html' with active="detail" %}
    <div class="ui two column grid" style="margin-top: 1rem;">

        <div class="column">
            {# Select option from list #}
            {% include 'case/case/_detail_options.html' %}

            {# Case timeline #}
            <div class="ui header">
                Timeline
            </div>
            {% include 'case/case/_feed.html' %}
        </div>

        <div class="column">
            {# Client card #}
            <div class="ui card fluid">
                <div class="content">
                    <h2 class="header">
                        <a href="{% url 'client-detail' issue.client.pk %}">
                            Client
                        </a>
                    </h2>
                    <table class="ui definition table small" style="margin-bottom: 2rem">
                        <tbody>
                            <tr>
                                <td class="four wide">Name</td>
                                <td>{{ issue.client.get_full_name|title }}</td>
                            </tr>
                            <tr>
                                <td>Email</td>
                                <td>{{ issue.client.email }}</td>
                            </tr>
                            <tr>
                                <td>Phone</td>
                                <td>{{ issue.client.phone_number }} (call {{ issue.client.call_times|join:', '|lower }})</td>
                            </tr>
                            <tr>
                                <td>Age</td>
                                <td>{{ issue.client.get_age }} years old</td>
                            </tr>
                            <tr>
                                <td>Gender</td>
                                <td>{{ issue.client.gender|title }}</td>
                            </tr>
                        </tbody>
                    </table>

                    {# Tenancy card #}
                    <h2 class="header">
                        <a href="{% url 'tenancy-detail' tenancy.pk %}">
                            Tenancy
                        </a>                       
                    </h2>


                    <table class="ui definition table small" style="margin-bottom: 2rem">
                        <tbody>
                            <tr>
                                <td class="four wide">Street Address</td>
                                <td>{{tenancy.address}}</td>
                            </tr>
                            <tr>
                                <td>Suburb</td>
                                <td>{{tenancy.suburb}} {{tenancy.postcode}}</td>
                            </tr>
                            <tr>
                                <td>Started</td>
                                <td>{{ tenancy.started|date:"jS M 'y" }}</td>
                            </tr>
                            <tr>
                                <td>Client on lease</td>
                                <td>{{ tenancy.is_on_lease|title }}</td>
                            </tr>
                        </tbody>
                    </table>

                    {# Landord card #}
                    {% include 'case/case/_person_details.html' with person=tenancy.landlord title="Landlord" url_path="case-detail-landlord" %}

                    {# Real estate agent card #}
                    {% include 'case/case/_person_details.html' with person=tenancy.agent title="Real estate agent" url_path="case-detail-agent" %}

                    <h2 class="header">Other submitted data</h2>
                    <table class="ui definition table small" style="margin-bottom: 2rem">
                        <tbody>
                            {% for detail in details %}
                            <tr>
                                <td class="four wide">{{ detail.title }}</td>
                                <td>{{ detail.answer|default:"-" }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% if file_urls %}
                        <h2 class="header">Submitted documents</h2>
                        <table class="ui definition table small" style="margin-bottom: 2rem">
                            <tbody>
                                {% for url in file_urls %}
                                <tr>
                                    <td class="four wide">Document #{{ forloop.counter }}</td>
                                    <td>
                                        <a href="{{ url }}">Open document</a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% endif %}
                    {% if image_urls %}
                        <h2 class="header">Submitted images</h2>
                        {% for url in image_urls %}
                            <a href="{{ url }}">
                                <img class="ui small rounded image" src="{{ url }}" style="margin-bottom: 1rem" />
                            </a>
                        {% endfor %}

                    {% endif %}


                </div>
            </div>
        </div>
    </div>
    </div>
</div>
{% endblock %}

