{% extends "case/_base.html" %}
{% block title %}Cases{% endblock %}

{% comment %} {% block scripts%}
<script>
    // Initialize JavaScript enabled Semantic UI elements.
    let values = [
        {name: 'Topic', value: 'topic'},
        {name: 'Stage', value: 'stage'},
        {name: 'Outcome', value: 'outcome'},
        {name: 'Legal services', value: 'provided_legal_services'},
        {name: 'Open', value: 'is_open'},
    ]
    const fieldNames = values.map(v => v.value)
    const filterState = {
        items: Object.keys(Object.fromEntries(new URLSearchParams(location.search))).filter(k => fieldNames.includes(k)) 
    }
    values = values.map(v => ({...v, selected:  filterState.items.includes(v.value)}))

    const onUpdateFilters = (items) => {
        for (let name of fieldNames) {
            const fieldEl = $('#field-' + name)
            if (filterState.items.includes(name)) {
                fieldEl.removeClass('disabled')
            } else {
                fieldEl.addClass('disabled')
            }
        }
    }
    onUpdateFilters()
    $('.selection.dropdown').dropdown()
    $('#filter-select').dropdown({
        placeholder: "Select some search filters",
        values: values,
        onAdd: (v) => {
            filterState.items.push(v)
            onUpdateFilters()
        },
        onRemove: (v) => {
            filterState.items = filterState.items.filter(i => i !== v)
            onUpdateFilters()
        },
    })
    // Override filter form submit
    $("#filter-form").submit((e) => {
        e.preventDefault()
        const values = {}
        $.each($('#filter-form').serializeArray(), (i, field) => {
            console.log(field)
            if (filterState.items.includes(field.name)) {
                values[field.name] = field.value
            }
        })
        window.location.href = "?" + (new URLSearchParams(values)).toString()
    })


</script>
{% endblock %} {% endcomment %}


{% block content %}
<div class="ui container">
    <h1>Cases</h1>

    <form 
        id="search-form"
        class="ui form"
        hx-get="{% url 'case-search' %}"
        hx-target="#case-results"
        hx-swap="outerHTML"
        hx-trigger="change, keyup delay:0.3s"
    >
        {% include 'case/forms/_text_field.html' with field=form.search placeholder="Find cases with the name or email of paralegals and clients, or by using the file ref" %}
        <div class="equal width fields">
            {% include 'case/forms/_dropdown_field.html' with field=form.topic %}
            {% include 'case/forms/_dropdown_field.html' with field=form.stage %}
        </div>
        <div class="equal width fields">
            {% include 'case/forms/_dropdown_field.html' with field=form.outcome %}
            {% include 'case/forms/_dropdown_field.html' with field=form.is_open %}
        </div>
    </form>

    
    <script>
    $('.selection.dropdown').dropdown()
    $('#search-form').on('submit', e => e.preventDefault())
    </script>


    {% include "case/case/_list_results.html" with issues=issue_page %}
</div>
{% endblock %}
