{% extends "case/_base.html" %}
{% block title %}Cases{% endblock %}

{% block content %}
<div class="ui container">
    <h1>Cases</h1>

    <form 
        id="search-form"
        class="ui form"
        hx-get="{% url 'case-search' %}"
        hx-target="#case-results"
        hx-swap="outerHTML"
        hx-trigger="change, keyup delay:0.3s"
    >
        {% include 'case/forms/_text_field.html' with field=form.search placeholder="Find cases with the name or email of paralegals and clients, or by using the file ref" %}
        <div class="equal width fields">
            {% include 'case/forms/_dropdown_field.html' with field=form.topic %}
            {% include 'case/forms/_dropdown_field.html' with field=form.stage %}
        </div>
        <div class="equal width fields">
            {% include 'case/forms/_dropdown_field.html' with field=form.outcome %}
            {% include 'case/forms/_dropdown_field.html' with field=form.is_open %}
        </div>
    </form>

    
    <script>
    $('.selection.dropdown').dropdown()
    $('#search-form').on('submit', e => e.preventDefault())
    </script>


    {% include "case/case/_list_results.html" with issues=issue_page %}
</div>
{% endblock %}
