{% extends "web/_base.html" %} 
{% load static %}
{% block title %}Bond Recovery{% endblock %} 
{% block social_meta %}
{% include 'web/snippets/_social_meta.html' with title="Bond Recovery" description="You’re moving out of your rental and it’s time to apply for your bond deposit. Whether you or your landlord are trying to negotiate the amount that is paid back at the end of your tenancy, we can guide you through the steps involved." %}            
{% endblock %}
{% block content %}
<div class="segment">
    <div class="container wide">
        <div class="story left">
            <div class="content">
                <h1>Need help getting your bond back?</h1>
                <p>
                    You're moving out of your rental, but you didn't get your bond back. Now your landlord
                    has applied to VCAT, and you don't know what to do next.
                </p>
                <p>
                    Has your landlord refused to release the whole or part of your bond after you moved
                    out? Are you unsure whether your landlord is allowed to claim your bond for the reason
                    they told you? Are you unsure of what the next steps are at VCAT? If your landlord has
                    applied to VCAT to claim your bond, we can guide you through the steps involved.
                </p>
                <p>
                    Need assistance getting your bond back? We’re here to help.
                </p>
                <a href="https://anikalegal.com/closed-contact/">
                    <button>Get free help</button>
                </a>
            </div>
            <img style="object-position: 100% 50%;" class="round not-responsive top-left top-right bottom-left" src="{% static 'web/img/services/bonds-hero.jpg' %}">
        </div>
    </div>
</div>
<div class="panel left round top-right bottom-right">
    <img class="round bottom-right" src="{% static 'web/img/services/coffee.jpg' %}">
    <div class="content">
        <h2>What does it involve?</h2>
        <p>
        Start your case with us and you’ll receive free legal assistance and advice that is:
        </p>
        <ul>
            <li>Specific to your circumstances</li> 
            <li>Online and easy to understand</li>
        </ul>
        <p>
            Whether it's negotiating with the landlord on your behalf, understanding mediation,
            or helping to prepare for VCAT, we'll do everything we can to help!
        </p>
    </div>
</div>
<div class="panel right round top-left bottom-left">
    <div class="content">
        <h2>Am I eligible?</h2>
        <p>
            You are eligible for this service if you’re a renter living in Victoria who cannot afford to pay for a private lawyer.
        </p>
        <p>
            Still not sure if you're eligible? Submit your case, and we’ll let you know.
        </p>


    </div>
    <img style="object-position: 100% 50%;" class="round bottom-left" src="{% static 'web/img/services/mum.jpg' %}">
</div>
<div class="segment" style="padding-bottom: 0;">
    <div class="container wide">
        <h2>Here’s the step-by-step breakdown</h2>
        <div class="divider"></div>
        <div class="card-grid tight">
            <div class="card">
                <img class="round-small top-right bottom-left" src="{% static 'web/img/how-it-works/intake.jpg' %}">
                <p class="header">
                    1. Complete our questionnaire
                </p>
                <p class="compact">It is <a href="https://anikalegal.com/closed-contact/">fully online</a>  and takes less than 10 minutes</p>
            </div>
            <div class="card">
                <img class="round-small top-right bottom-left" src="{% static 'web/img/how-it-works/call-you.jpg' %}">
                <p class="header">2. We’ll call you</p>
                <p class="compact">One of our friendly team will call you to discuss your situation</p>
            </div>
            <div class="card">
                <img class="round-small top-right bottom-left" src="{% static 'web/img/how-it-works/legal-advice.jpg' %}">
                <p class="header">3. Receive your personalised legal advice</p>
                <p class="compact"> You’ll get an email outlining your rights and options</p>
            </div>
            <div class="card">
                <img class="round-small top-right bottom-left" src="{% static 'web/img/how-it-works/agreement.jpg' %}">
                <p class="header">4. Help you to take the right next step</p>
                <p class="compact">Whether that’s negotiating with your landlord or making an application to the Residential Tenancies Bond Authority, we’ll guide you in the right direction.</p>
            </div>
            <div class="card">
                <img class="round-small top-right bottom-left" src="{% static 'web/img/how-it-works/resolution.jpg' %}">
                <p class="header">5. Reach a resolution at VCAT</p>
                <p class="compact">If the claim is disputed, we’ll help you prepare for your VCAT hearing.</p>
            </div>
        </div>
    </div>
</div>
{% include 'web/snippets/_footer_cta.html' with cta="Applying to get your bond returned?" %}
{% endblock %}