{% extends "web/_base.html" %} 
{% load static %}
{% block title %}Evictions Support{% endblock %} 
{% block social_meta %}
{% include 'web/snippets/_social_meta.html' with title="Evictions Support" description="Getting evicted? Know your rights before you panic!" %}            
{% endblock %}
{% block content %}
<div class="segment">
    <div class="container wide">
        <div class="story left">
            <div class="content">
                <h1>Getting evicted? Know your rights before you panic!</h1>
                <p>
                    Landlords can now evict tenants who have fallen behind on their rent.
                </p>
                <p>
                    Received a notice to vacate? There’s no time to waste. Get free, ongoing legal support within 2 working days.
                </p>
                <a href="https://intake.anikalegal.com/">
                    <button>Get started today</button>
                </a>
            </div>
            <img style="object-position: 100% 50%;" class="round not-responsive top-left top-right bottom-left" src="{% static 'web/img/services/evictions-hero.jpg' %}">
        </div>
    </div>
</div>
<div class="panel left round top-right bottom-right">
    <img class="round bottom-right" src="{% static 'web/img/services/coffee.jpg' %}">
    <div class="content">
        <h2>What does it involve?</h2>
        <p>
        Start your case with us and you’ll receive free legal assistance and advice that is:
        </p>
        <ul>
            <li>Specific to your circumstances</li> 
            <li>Online and easy to understand</li>
            <li>Within 2 working days of starting your case</li>
        </ul>
        <p>
            Whether it’s negotiating a payment plan with your landlord on your behalf or buying you some time in your home to find a new place, we’ve got you covered. 
        </p>
    </div>
</div>
<div class="panel right round top-left bottom-left">
    <div class="content">
        <h2>Am I eligible?</h2>
        <p>
            You are eligible for this service if you’re a renter living in Victoria who is being evicted because you are behind on rent payments.
        </p>
        <p>
            Still not sure if you're eligible? Submit your case, and we’ll let you know.
        </p>


    </div>
    <img style="object-position: 100% 50%;" class="round bottom-left" src="{% static 'web/img/services/mum.jpg' %}">
</div>
<div class="segment" style="padding-bottom: 0;">
    <div class="container wide">
        <h2>Here’s the step-by-step breakdown</h2>
        <div class="divider"></div>
        <div class="card-grid five">
            <div class="card">
                <img class="round-small top-right bottom-left" src="{% static 'web/img/how-it-works/intake.jpg' %}">
                <p class="header">
                    1. Complete our questionnaire
                </p>
                <p class="compact">It is <a href="https://intake.anikalegal.com/">fully online</a>  and takes less than 10 minutes</p>
            </div>
            <div class="card">
                <img class="round-small top-right bottom-left" src="{% static 'web/img/how-it-works/call-you.jpg' %}">
                <p class="header">2. We’ll call you</p>
                <p class="compact">One of our friendly team will call you within two working days to discuss your situation</p>
            </div>
            <div class="card">
                <img class="round-small top-right bottom-left" src="{% static 'web/img/how-it-works/legal-advice.jpg' %}">
                <p class="header">3. Receive your personalised legal advice</p>
                <p class="compact"> You’ll get an email outlining your rights and options</p>
            </div>
            <div class="card">
                <img class="round-small top-right bottom-left" src="{% static 'web/img/how-it-works/agreement.jpg' %}">
                <p class="header">4. Negotiate a payment plan</p>
                <p class="compact">We can help you negotiate a payment plan for unpaid rent with your landlord</p>
            </div>
            <div class="card">
                <img class="round-small top-right bottom-left" src="{% static 'web/img/how-it-works/resolution.jpg' %}">
                <p class="header">5. Reach a resolution at VCAT</p>
                <p class="compact"> We’ll help you prepare for your VCAT hearing, whether it’s to stop the eviction process, agree on a payment plan, or ask for one more month in your rental to look for your next accommodation</p>
            </div>
        </div>
    </div>
</div>
{% include 'web/snippets/_footer_cta.html' with cta="Received a Notice to Vacate your home?" %}
{% endblock %}