{% comment %} 
is_review is True when this is showing case reviews
is_open is True when all cases are open
{% endcomment %}
<table class="ui celled table">
    <thead>
        <tr>
            <th>File Ref</th>
            <th>Topic</th>
            <th>Client</th>
            <th>Paralegal</th>
            {% if is_review %}
                <th>Next Review Due</th>
            {% endif %}
            <th>Created</th>
            <th>Advice</th>
            {% if not is_open %}
                <th>Open</th>
                <th>Stage</th>
                <th>Outcome</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
    {% for issue in issues %}
        <tr>
            <td>
                <a href="{% url 'case-detail' issue.pk %}">
                    {{ issue.fileref }}
                </a>
            </td>
            <td>{{ issue.get_topic_display }}</td>
            <td>
                <a href="{% url 'client-detail' issue.client.pk %}">
                    {{ issue.client.get_full_name|title }}
                </a>                    
            </td>
            <td>
                {% if issue.paralegal %}
            
                <a href="{% url 'account-detail' issue.paralegal.pk %}">
                    {{ issue.paralegal.get_full_name|title }}
                </a>               
                {% else %}
                    -
                {% endif %}
            </td>
            {% if is_review %}
                <td class="center aligned {{ issue.color }}">
                    {{ issue.next_review|date:"d/m/y" }}
                </td>
            {% endif %}
            <td>{{ issue.created_at|date:"d/m/y" }}</td>
            <td class="center aligned">
                {% if issue.provided_legal_services %}
                    <i class="green checkmark icon"></i>
                {% else %}
                    <i class="yellow close icon"></i>
                {% endif %}
            </td>
            {% if not is_open %}
                <td class="center aligned">
                    {% if issue.is_open %}
                        <i class="green checkmark icon"></i>
                    {% else %}
                        <i class="yellow close icon"></i>
                    {% endif %}
                </td>
                <td>{{issue.get_stage_display|default:"-" }}</td>
                <td>{{issue.get_outcome_display|default:"-" }}</td>
            {% endif %}

        </tr>
    {% empty %}
        <tr>
            <td>
                No cases found
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
