{% comment %} 
Renders a Semantic UI dropdown.

Args:
    widget: Django widget context
    options: Semantic UI dropdown options data.

{% endcomment %}
<select 
    name="{{ widget.name }}"
    class="ui fluid dropdown"
    {% include "django/forms/widgets/attrs.html" %}
>
    {% for option in options %}
          <option 
            value="{{ option.value }}"
            {% if option.selected %}selected{% endif %}
        >
            {{ option.name }}
        </option>
    {% endfor %}

</select>
<script>
    $('.ui.dropdown[name="{{ widget.name }}"]').dropdown()
</script>
