<div id="dynamic-form-{{ form.slug }}">
    <form 
        class="ui form {% if form.errors %}error{% else %}success{% endif %}"
        method="post"
        hx-post="./{{ form.slug }}/"
        hx-target="#dynamic-form-{{form.slug}}"
        hx-swap="outerHTML"
    >
        {% for field in form %}
            <div class="field {% if field.errors %}error{% endif %}">
                <label>{{ field.label }}</label>
                {{ field }}
            </div>
        {% endfor %}
        {% include 'case/snippets/_form_errors.html' %}
        <button class="ui positive button" type="submit">Update</button>
        <button 
            class="ui button"
            hx-get="./{{ form.slug }}/"
            hx-target="#dynamic-form-{{ form.slug }}"
        >
            Cancel
        </button>
    </form>
    <script>
        $('#dynamic-form-{{ form.slug }} .ui.dropdown').dropdown()
    </script>
</div>
