<div 
    id="{{ dropdown_id }}"
    {% if active_slug %}hx-swap-oob="true"{% endif %}
    style="display: flex;margin-bottom: 1rem;margin-top:1rem"
>
    {# The dropdown #}
    <div class="ui selection fluid dropdown">
        <input 
            type="hidden"
            name="{{ qs_name }}"
            hx-get="."
            hx-target="#{{ target_id }}"
        />
        <i class="dropdown icon"></i>
        {% if active_slug %}
            <div class="default text">{{ active_slug_text }}</div>
        {% else %}
            <div class="default text">{{ default_text }}</div>
        {% endif %}
        <div class="scrollhint menu">
            {% for option in options.items %}
                <div 
                    class="item"
                    data-value="{{ option.0 }}"
                >
                    {{ option.1 }}
                </div>
            {% endfor %}
        </div>
    </div>

    {# Activate dropdown #}
    <script>
        const $selectEl = $('.ui.selection.fluid.dropdown')
            $selectEl.dropdown()
    </script>

    {# Cancel button #}
    {% if active_slug %}
        <form 
            hx-get="."
            hx-target="#{{ id }}"       
            style="margin: 0;"
            hx-swap="outerHTML"
        >
            <input type="text" hidden name="{{ qs_name }}" value="cancel" />
            <button 
                class="ui button tertiary"
                type="submit"

            >
                Close
            </button>
        </form>
    {% endif %}

</div>
