/*
Global styles that apply to all components and pages.
Includes:
  - body
  - header
  - footer

Screen sizes to consider (https://screensiz.es/):
  - desktop: 1920 x 1080
  - laptop: 1300 wide
  - phone: 600 wide
*/
:root {
  /* Colors */
  --blue: #438fef;
  --blue-mid: #104485;
  --blue-dark: #00377b;
  --blue-light: #eff6ff;
  --gold: #ebb900;
  --gold-light: #fff9e8;
  --peach: #f37365;
  --grey: #434343;
  --dark-0: #000;
  --dark-1: #18191f;
  --dark-3: #333;
  --dark-4: #3f3f3f;
  --dark-5: #454545;
  --dark-6: #505050;
  --grey: #e8f1f5;
  --grey-2: #d9dbe1;
  --white: #fff;
  /* Sizes */
  --header-height: 93px;
  --header-offset-top: 60px;
  --header-height-total: calc(var(--header-height) + var(--header-offset-top));
  --container-max-width: 1240px;
  --container-article-max-width: 950px;
  /* Fonts - too many? */
  --font-serif: "Abhaya Libre", serif;
  --font-sans: "Nunito Sans", sans-serif;
  --font-sans-alt-1: "Nunito", sans-serif;
  --font-sans-alt-2: "DM Sans", sans-serif;
  /* Static content urls */
  --url-footer-cta-img: url("/static/web/img/footer-cta-phones.png");
  --url-landing-hero-phone-img: url("/static/web/img/landing-hero-1080.webp");

  /* Responsive variables */
  --container-padding: 135px;
  --container-wide-padding: 100px;
  --header-font-size: 50px;
  --header-line-height: 58px;
  --header-mini-font-size: 25px;
  --body-font-size: 20px;
  --body-line-height: 34px;
  --radius-multiplier: 1;
  --hero-external-radius: 300px;
}

/* Responsive variables (tablet / half screen) */
@media (max-width: 1300px) {
  :root {
    --header-font-size: 36px;
    --header-line-height: 44px;
    --header-mini-font-size: 20px;
    --body-font-size: 18px;
    --body-line-height: 28px;
  }
}

@media (min-width: 768px) {
  #closure-notice {
    position: sticky;
  }
}

/* Responsive variables (phone) */
@media (max-width: 600px) {
  :root {
    --header-height: 46px;
    --hero-external-radius: 124px;
    --header-font-size: 26px;
    --header-line-height: 32px;
    --header-mini-font-size: 18px;
    --body-font-size: 16px;
    --body-line-height: 25px;
    --radius-multiplier: 0.3;
    --container-padding: 24px;
    --container-wide-padding: 24px;
  }
}

/* Whole page body */
html,
body {
  scrollbar-width: thin;
  margin: 0;
  padding: 0;
  min-height: 100%;
  box-sizing: border-box;
  font-family: var(--font-sans);
  font-weight: 400;
  font-size: var(--body-font-size);
  line-height: 1.3333333;
  color: var(--dark-0);
}

/* Links 
 * Apply global styling to links not in the header or footer, or that don't contain buttons.
 */
a:not(header a):not(footer a):not(:has(button)) {
  color: var(--blue);
  text-decoration: none;
}

a:hover:not(header a):not(:has(button)) {
  text-decoration: underline;
}

a:visited:not(header a):not(footer a):not(:has(button)) {
  color: revert;
}

/* Page header */
.header-message {
  text-align: center;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--blue-dark);
  color: var(--white) !important;
  line-height: 100%;
  position: relative;
  top: 0;
  z-index: 2;
  padding: 30px;
}

header {
  box-sizing: content-box;
  position: relative;
  z-index: 1;
  max-width: 1240px;
  width: calc(100vw - 2 * var(--container-wide-padding));
  min-height: var(--header-height);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding-top: 8px;
}

header a {
  color: var(--dark-0);
}

header ul {
  list-style: none;
  padding-left: calc(var(--spacing) * 2);
  margin-bottom: 0;
  font-size: var(--text-sm);
  line-height: var(--text-sm--line-height);
  letter-spacing: var(--tracking-normal);
}

/* Page footer */
footer {
  background-color: var(--blue-dark);
  font-family: var(--font-sans-alt-2);
  padding: 100px 0 150px 0;
  display: flex;
  justify-content: center;
}

footer .inner {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
  width: calc(100vw - 2 * 165px);
  justify-content: center;
  max-width: 1080px;
}

@media (max-width: 1300px) {
  footer {
    padding: 55px 0 75px 0;
  }

  footer .inner {
    width: calc(100vw - 2 * 60px);
  }
}

@media (max-width: 900px) {
  footer .inner {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  footer .inner {
    grid-template-columns: 1fr;
    width: calc(100vw - 2 * 30px);
  }
}

footer h3 {
  color: var(--white);
  font-size: 20px;
  line-height: 30px;
  font-weight: 600;
  margin-bottom: 24px;
}

footer p {
  font-size: 14px;
  color: var(--grey-2);
  line-height: 24px;
  margin-bottom: 12px;
}

footer a {
  color: var(--grey-2);
  text-decoration: none;
}

footer a:visited {
  color: var(--grey-2);
}

footer .column {
  display: flex;
  flex-direction: column;
}

footer p.icon {
  padding-left: 35px;
  position: relative;
}

footer p.icon img {
  height: 25px;
  position: absolute;
  top: 0;
  left: 0;
}

/* 
Optional call to action section thar sits just above the footer.
 */
#footer-cta {
  background-image: var(--url-footer-cta-img);
  background-repeat: no-repeat;
  background-position: calc(50% + 300px) 100%;
}

#footer-cta .content {
  padding: 80px 0;
  max-width: 540px;
}

#footer-cta .content h2 {
  color: var(--dark-1);
  font-size: 48px;
}

#footer-cta .content p {
  color: var(--dark-5);
  font-size: 18px;
  line-height: 32px;
}

@media (max-width: 1300px) {
  #footer-cta {
    background-image: none;
    padding-top: 80px;
  }

  #footer-cta:before {
    height: 80px;
    border-radius: 0 0 0 75%/ 0 0 0 100%;
  }

  #footer-cta .content {
    padding: 50px 0;
  }

  #footer-cta .content h2 {
    font-size: 26px;
  }

  #footer-cta .content p {
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 35px;
  }
}

/* Hide the reCAPTCHA badge */
.grecaptcha-badge {
  visibility: hidden;
}
