/*
Global styles that apply to all components and pages.
Includes:
  - body
  - header
  - footer

Screen sizes to consider (https://screensiz.es/):
  - desktop: 1920 x 1080
  - laptop: 1366x728
  - phone: 320x568
*/
:root {
  /* Colors */
  --blue: #438fef;
  --blue-mid: #104485;
  --blue-dark: #00377b;
  --blue-light: #9fc6ff;
  --gold: #ebb900;
  --gold-light: #fff9e8;
  --peach: #f37365;
  --grey: #434343;
  --dark-0: #000;
  --dark-1: #18191f;
  --dark-3: #333;
  --dark-4: #3f3f3f;
  --dark-5: #454545;
  --dark-6: #505050;
  --grey: #e8f1f5;
  --grey-2: #d9dbe1;
  --white: #fff;
  /* Sizes */
  --header-height: 63px;
  --header-offset-top: 60px;
  --header-height-total: 123px;
  /* Fonts - too many? */
  --font-serif: "Abhaya Libre", serif;
  --font-sans: "Nunito Sans", sans-serif;
  --font-sans-alt-1: "Nunito", sans-serif;
  --font-sans-alt-2: "DM Sans", sans-serif;
  --font-handwritten: "Nanum Pen Script", cursive;
  /* Static content urls */
  --url-landing-hero-img: url("/static/web/img/headphone-hero.jpg");
  --url-footer-cta-img: url("/static/web/img/footer-cta-phones.png");
  --url-chevron-down-svg: url("/static/web/img/chevron-down.svg");

  /* Responsive variables */
  --container-padding: 135px;
  --container-wide-padding: 100px;
  --header-font-size: 50px;
  --header-line-height: 58px;
  --header-mini-font-size: 25px;
  --body-font-size: 20px;
  --body-line-height: 34px;
  --radius-multiplier: 1;
}

/* Responsive variables (tablet) */
@media (max-width: 1300px) {
  :root {
    --header-font-size: 26px;
    --header-line-height: 32px;
    --header-mini-font-size: 18px;
    --body-font-size: 16px;
    --body-line-height: 25px;
    --radius-multiplier: 0.3;
  }
}

/* Responsive variables (phone) */
@media (max-width: 600px) {
  :root {
    --container-padding: 24px;
    --container-wide-padding: 24px;
  }
}

/* Whole page body */
html,
body {
  scrollbar-width: thin;
  margin: 0;
  padding: 0;
  min-height: 100%;
  box-sizing: border-box;
  font-family: var(--font-sans);
  font-weight: 400;
  font-size: var(--body-font-size);
  line-height: 1.3333333;
  color: var(--dark-0);
}

body {
  /* For the header */
  padding-top: 123px;
}

a {
  text-decoration: none;
}

/* Page header */
header {
  position: absolute;
  z-index: 1;
  top: var(--header-offset-top);
  max-width: 1240px;
  width: calc(100vw - 200px);
  height: var(--header-height);
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
}

header img {
  height: var(--header-height);
}
header nav {
  display: flex;
  align-items: center;
  gap: calc(33px - 24px);
}
header nav a,
header nav .dropdown {
  text-decoration: none;
  font-size: 16px;
  font-family: var(--font-sans-alt-1);
  font-weight: 700;
  color: var(--dark-1);
  text-decoration: none;
}
header nav .dropdown {
  position: relative;
  padding: 12px;
}
header nav .dropdown .title {
  position: relative;
  padding-right: 19px;
  cursor: pointer;
}
header nav .dropdown .title:after {
  position: absolute;
  background: var(--url-chevron-down-svg) no-repeat;
  background-size: contain;
  width: 12px;
  height: 6px;
  content: "";
  top: 8px;
  right: 0;
}

header nav .dropdown .options {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  left: 0;
  margin-top: 12px;
  display: none;
  border-radius: 0 0 0 12px;
}

header nav .dropdown .options a {
  font-weight: 500;
}

header nav .dropdown:hover {
  background-color: var(--gold-light);
  box-shadow: 0px 4px 41px rgba(0, 55, 123, 0.15);
  border-radius: 0 12px 0 0;
}

header nav .dropdown:hover > .options,
header nav .dropdown:focus-within > .options,
header nav .dropdown .options:hover {
  visibility: visible;
  opacity: 1;
  width: 200px;
  display: flex;
  flex-direction: column;
  background: var(--gold-light);
  padding: 12px 12px 16px 12px;
  gap: 1rem;
}

header nav .dropdown .options a {
  clear: both;
  width: 100%;
  cursor: pointer;
}
header nav .dropdown .options a:hover {
  text-decoration: underline;
}

header nav a button#donate {
  font-size: 16px;
  background: var(--blue-mid);
  padding: 8px 36px 7px 36px;
}

header nav a:visited {
  color: var(--dark);
}

/* Page footer */
footer {
  background-color: var(--blue-dark);
  font-family: var(--font-sans-alt-2);
  padding: 100px 0 150px 0;
  display: flex;
  justify-content: center;
}
footer .inner {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-gap: 30px;
  width: calc(100vw - 2 * 165px);
  justify-content: center;
  max-width: 1080px;
}
@media (max-width: 1300px) {
  footer {
    padding: 55px 0 75px 0;
  }
  footer .inner {
    grid-template-columns: 270px;
  }
}

footer h3 {
  color: var(--white);
  font-size: 20px;
  line-height: 30px;
  font-weight: 600;
  margin-bottom: 24px;
  margin-top: 0;
}
footer p {
  font-size: 14px;
  color: var(--grey-2);
  line-height: 24px;
  margin-bottom: 12px;
}
footer a {
  color: var(--grey-2);
  text-decoration: none;
}
footer a:visited {
  color: var(--grey-2);
}

footer .career-text {
  color: #2ec5ce;
  font-size: 20px;
  font-family: var(--font-handwritten);
}
footer .column {
  display: flex;
  flex-direction: column;
}
#social-media {
  width: 146;
  display: grid;
  grid-template-columns: repeat(4, 24px 16px);
}
footer p.icon {
  padding-left: 35px;
  position: relative;
}
footer p.icon img {
  height: 25px;
  position: absolute;
  top: 0;
  left: 0;
}

/* 
Optional call to action section thar sits just above the footer.
 */
#footer-cta {
  position: relative;
  background: var(--grey);
  padding-top: 180px;
  background-image: var(--url-footer-cta-img);
  background-repeat: no-repeat;
  background-position: calc(50% + 300px) 100%;
}
#footer-cta:before {
  content: "";
  background: white;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 180px;
  border-radius: 0 0 0 25%/ 0 0 0 100%;
}
#footer-cta .content {
  padding: 80px 0;
  max-width: 540px;
}
#footer-cta .content h2 {
  color: var(--dark-1);
  font-size: 48px;
}
#footer-cta .content p {
  color: var(--dark-5);
  font-size: 18px;
  line-height: 32px;
}
@media (max-width: 1300px) {
  #footer-cta {
    background-image: none;
    padding-top: 80px;
  }
  #footer-cta:before {
    height: 80px;
    border-radius: 0 0 0 75%/ 0 0 0 100%;
  }

  #footer-cta .content {
    padding: 50px 0;
  }

  #footer-cta .content h2 {
    font-size: 26px;
  }
  #footer-cta .content p {
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 35px;
  }
}
