// Whites
$white: #ffffff;
$soft-grey: #f3f4f6;
$grey: #ccc;
$neutral: #777;
$dark: #212529;
$black: #111111;

// Greens
$green: #55a6ae;
$light-green: #eaf0f1;

// Yellows
$yellow: #ffc107;

// Blues
$blue: #007bff;
$dark-blue: #1d3745;

// Brand colors
$text: $dark;
$primary: $green;
$secondary: $dark-blue;
$light: $light-green;
$lighter: $soft-grey;
$lightest: $white;
