{% extends "case/_base.html" %}
{% block title %}Templates{% endblock %}
{% block content %}
<div class="ui container">
    <h1>Templates</h1>
    <div class="ui large relaxed divided list">
        <div class="item">
            <i class="envelope outline icon" style="vertical-align: middle;"></i>
            <div class="content">
                <a href="{% url 'template-email-list' %}" class="header">Email templates</a>
                <div class="description">Common emails sent by paralegals</div>
            </div>
        </div>
        <div class="item">
            <i class="file outline icon" style="vertical-align: middle;"></i>
            <div class="content">
                <a href="{% url 'template-doc-list' %}" class="header">Document templates</a>
                <div class="description">Documents automatically added to every new case</div>
            </div>
        </div>
        <div class="item">
            <i class="bell outline icon" style="vertical-align: middle;"></i>
            <div class="content">
                <a href="{% url 'template-notify-list' %}" class="header">Notification templates</a>
                <div class="description">Notifications that are sent in response to case events</div>
            </div>
        </div>

    </div>
{% endblock %}
