{% load static %}
{% load analytics %}
{% load wagtailcore_tags %}
{% load wagtail_clerk %}
<html lang="en">
<head>
    <title>
        {% block supertitle %}
            {% block title %}{% endblock %} | Anika Legal
        {% endblock %}
    </title>
    <!-- Meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% block social_meta %}
        {% include 'web/snippets/_social_meta.html' with title="Anika Legal" description="Get free, ongoing legal support for rental issues" %}
    {% endblock %}
    {% block social_meta_card %}
        <meta property="og:image" content="https://{{ request.get_host }}{% static 'web/brand/social-card.png' %}" />
        <meta property="og:image:width" content="873" />
        <meta property="og:image:height" content="515" />
        <meta name="twitter:image" content="https://{{ request.get_host }}{% static 'web/brand/social-card.png' %}" />
        <meta name="twitter:card" content="summary_large_image" />
    {% endblock %}
    <!-- Favicon -->
    <link rel="icon" type="image/png" href="{% static 'web/brand/logo-icon-color.png' %}">
    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap" rel="stylesheet">
    <!-- Styling -->
    <link rel="stylesheet" type="text/css" href="{% static 'web/styles/global.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'web/styles/components.css' %}">
    {% block styles %}{% endblock %}

</head>
<body>
    <div class="header-message">
        Anika Legal will be closed for the holiday period from Tuesday 20th December 2022, and will reopen on Monday 9th January 2023. We wish you a safe and happy holiday season!
    </div>
    <header>
        <a href="{% url 'landing' %}">
            <img src="{% static 'web/brand/logo-color.svg' %}">
        </a>
        <nav class="large">
            {% include 'web/snippets/_header_menu.html' %}
        </nav>
        <nav class="small">
            <img src="{% static 'web/img/hamburger.svg' %}"/>
            <div class="menu">
                {% include 'web/snippets/_header_menu.html' %}
            </div>
        </nav>
        <script>
            // Mobile menu toggle
            const hambugerEl = document.querySelector("nav.small img")
            const menuEl = document.querySelector("nav.small .menu")
            
            const toggleMenu = () => {
                const isMenuActive = menuEl.classList.contains("active")
                if (isMenuActive) {
                    menuEl.classList.remove('active')
                } else {
                    menuEl.classList.add('active')
                }
            }
            hambugerEl.addEventListener("click", toggleMenu)
            
            // Mobile menu dropdown toggle
            const dropdownTitleEls = document.querySelectorAll("nav.small .menu .dropdown .title")
            const toggleDropdown = (e) => {
                const dropdownEl = e.target.offsetParent
                const isActiveAlready = dropdownEl.classList.contains('active')
                for (let titleEl of dropdownTitleEls) {
                    const el = titleEl.offsetParent
                    if (el === dropdownEl && !isActiveAlready) {
                        el.classList.add('active')
                    } else {
                        el.classList.remove('active')
                    }
                }
            }
            for (let el of dropdownTitleEls) {
                el.addEventListener("click", toggleDropdown)
            }
            </script>
    </header>
    {% block content %}{% endblock %}
    <footer>
        <div class=inner>
            <div class=column>
                <h3>
                    <img style="margin-right: 20px;" src="{% static 'web/brand/logo-footer.svg' %}"/>
                    <a href="https://www.acnc.gov.au/charity/3acdc07aacf256d03811dc298a2d5aea">
                        <img
                            src="{% static 'web/brand/acnc-charity.png' %}"
                            style="height:33px"
                        />
                    </a>
                </h3>
                <p>
                    Anika Legal is a <strong style="text-decoration: underline"><a href="https://www.acnc.gov.au/charity/3acdc07aacf256d03811dc298a2d5aea">registered</a></strong> charity with the
                    Australian Charities and Not-for-profits Commission.
                </p>
                <div id='social-media'>
                   <a href="https://au.linkedin.com/company/anikalegal"><img src="{% static 'web/img/icons/social/linkedin.svg' %}"/></a><span></span>
                   <a href="https://www.facebook.com/anikalegal/"><img src="{% static 'web/img/icons/social/facebook.svg' %}"/></a><span></span>
                   <a href="https://www.instagram.com/anikalegal/"><img src="{% static 'web/img/icons/social/instagram.svg' %}"/></a><span></span>
                   <a href="https://twitter.com/anikalegal"><img src="{% static 'web/img/icons/social/twitter.svg' %}"/></a><span></span>
                </div>
            </div>
            <div class='column'>
                <h3>Quick Links</h3>
                <p><a href="{% url 'about' %}">About</a></p>
                <p><a href="{% clerk_slugurl 'blog' %}">Blog</a></p>
                <p><a href="{% clerk_slugurl 'news' %}">News</a></p>
                <p>
                    <a href="{% clerk_slugurl 'jobs' %}">Jobs (we're hiring!)</a>
                </p>
                <p><a href="{% url 'subscribe' %}">Join our mailing list</a></p>
                <h3 style="margin-top: 27px">Legal</h3>
                <p><a href="{% clerk_slugurl 'terms-of-use' %}">Terms of use</a></p>
                <p><a href="{% clerk_slugurl 'eligibility-criteria' %}">Eligibility criteria</a></p>
            </div>
            <div class='column'>
                <h3>Services</h3>
                <p><a href="{% url 'evictions' %}">Eviction support</a></p>
                <p><a href="{% url 'repairs' %}">Rental repairs</a></p>
                <p><a href="{% url 'bonds' %}">Bond recovery</a></p>
                <h3 style="margin-top: 27px">Privacy</h3>
                <p><a href="{% clerk_slugurl 'privacy-policy' %}">Privacy policy</a></p>
                <p><a href="{% clerk_slugurl 'collections-statement' %}">Collections statement</a></p>
            </div>
            <div class='column'>
                <h3>Reach Us</h3>
                    <p class="icon">
                        <img src="{% static 'web/img/email.svg' %}" />
                        <a href="mailto:contact@anikalegal.com"
                            >Case enquiries</a
                        >
                    </p>
                    <p class="icon">
                        <img src="{% static 'web/img/email.svg' %}" />
                        <a href="mailto:press@anikalegal.com"
                            >Press enquiries</a
                        >
                    </p>
                    <p class="icon">
                        <img src="{% static 'web/img/email.svg' %}" />
                        <a href="mailto:partnerships@anikalegal.com"
                            >Partnerships enquiries</a
                        >
                    </p>
                <p class="icon">
                    <img src="{% static 'web/img/phone.svg' %}"/>
                    <a href="tel:+61480016398">0480 016 398</a>
                </p>
                <p class="icon">
                    <img src="{% static 'web/img/location.svg' %}"/>
                    <a href="https://www.google.com/maps/place/Anika+Legal/@-36.4855915,140.9778489,6z/data=!3m1!4b1!4m5!3m4!1s0x6ad65d3d2a341b35:0x7ae39915a6711ae9!8m2!3d-36.5698705!4d145.4690852">
                        Offices in Melbourne CBD, Glen Eira, Port Phillip and Moreland
                    </a>
                </p>
            </div>
        </div>
    </footer>
    {% analytics %}
    <script type="text/javascript" src="{% static 'web/scripts/htmx.min.js' %}"></script>
    <script>
      document.body.addEventListener('htmx:configRequest', (event) => {
        event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
      })
    </script>
    {% block scripts %}{% endblock %}
</body>
</html>
