{% load static %}
{% load wagtailcore_tags %}
<html lang="en">
<head>
    <title>
        {% block supertitle %}
            {% block title %}{% endblock %} | Anika Legal
        {% endblock %}
    </title>
    <!-- Meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Favicon -->
    <link rel="icon" type="image/png" href="{% static 'web/brand/logo-icon-color.png' %}">
    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap" rel="stylesheet">
    <!-- Styling -->
    <link rel="stylesheet" type="text/css" href="{% static 'web/styles/global.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'web/styles/components.css' %}">
    {% block styles %}{% endblock %}

</head>
<body>
    <header>
        <a href="{% url 'landing' %}">
            <img src="{% static 'web/brand/logo-color.svg' %}">
        </a>
        <nav class="large">
            {% include 'web/snippets/_header_menu.html' %}         
        </nav>
        <nav class="small">
            <img src="{% static 'web/img/hamburger.svg' %}"/>
            <div class="menu">
                {% include 'web/snippets/_header_menu.html' %}         
            </div>
        </nav>
        <script>
            // Mobile menu toggle
            const hambugerEl = document.querySelector("nav.small img")
            const menuEl = document.querySelector("nav.small .menu")

            const toggleMenu = () => {
                const isMenuActive = menuEl.classList.contains("active")
                if (isMenuActive) {
                    menuEl.classList.remove('active')
                } else {
                    menuEl.classList.add('active')
                }
            }
            hambugerEl.addEventListener("click", toggleMenu)

            // Mobile menu dropdown toggle
            const dropdownTitleEls = document.querySelectorAll("nav.small .menu .dropdown .title")
            const toggleDropdown = (e) => {
                const dropdownEl = e.target.offsetParent
                const isActiveAlready = dropdownEl.classList.contains('active')
                for (let titleEl of dropdownTitleEls) {
                    const el = titleEl.offsetParent
                    if (el === dropdownEl && !isActiveAlready) {
                        el.classList.add('active')
                    } else {
                        el.classList.remove('active')
                    }
                }
            }
            for (let el of dropdownTitleEls) {
                el.addEventListener("click", toggleDropdown)
            }
        </script>
    </header>
    {% block content %}{% endblock %}
    <footer>
        <div class=inner>
            <div class=column>
                <h3>
                    <img style="margin-right: 20px;" src="{% static 'web/brand/logo-footer.svg' %}"/>
                    <a href="https://www.acnc.gov.au/charity/3acdc07aacf256d03811dc298a2d5aea">
                        <img 
                            src="{% static 'web/brand/acnc-charity.png' %}"
                            style="height:33px"
                        />
                    </a>
                </h3>
                <p>
                    Anika Legal is a <strong style="text-decoration: underline"><a href="https://www.acnc.gov.au/charity/3acdc07aacf256d03811dc298a2d5aea">registered</a></strong> charity with the 
                    Australian Charities and Not-for-profits Commission.
                </p>
                <div id='social-media'>
                   <a href="https://www.instagram.com/anikalegal/"><img src="{% static 'web/img/instagram.svg' %}"/></a><span></span>
                   <a href="https://twitter.com/anikalegal"><img src="{% static 'web/img/twitter.svg' %}"/></a><span></span>
                </div>
            </div>
            <div class='column'>
                <h3>Quick Links</h3>
                <p><a href="{% url 'about' %}">About</a></p>
                <p><a href="{% slugurl 'root' %}">Blog</a></p>
                {% comment %} <p><a href=#>News</a></p>
                <p>
                    <a href=#>Jobs</a>&nbsp;&nbsp;<span class='career-text'>We're hiring</span>
                </p> {% endcomment %}
            </div>
            <div class='column'>
                <h3>Services</h3>
                <p><a href="{% url 'evictions' %}">Eviction support</a></p>
                <p><a href="{% url 'repairs' %}">Rental repairs</a></p>
            </div>
            <div class='column'>
                <h3>Reach Us</h3>
                <p class="icon">
                    <img src="{% static 'web/img/email.svg' %}"/>
                    contact@anika.com
                </p>
                <p class="icon">
                    <img src="{% static 'web/img/phone.svg' %}"/>
                    0451 618 383
                </p>
                <p class="icon">
                    <img src="{% static 'web/img/location.svg' %}"/>
                    Offices in Melbourne CBD, Glen Eira, Port Phillip and Moreland
                </p>
            </div>
        </div>
    </footer>
    <script type="text/javascript" src="{% static 'web/scripts/htmx.min.js' %}"></script>
    <script>
      document.body.addEventListener('htmx:configRequest', (event) => {
        event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
      })
    </script>
    {% block scripts %}{% endblock %}
</body>
</html>
