{% load static %}
{% load analytics %}
{% load notice %}
{% load wagtailcore_tags %}
{% load wagtail_clerk %}
{% load banner %}

<html lang="en">
  <head>
    <title>
      {% block supertitle %}
        {% block title %}

        {% endblock %}| Anika Legal
      {% endblock %}
    </title>
    <!-- Meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% block social_meta %}
      {% include 'web/snippets/_social_meta.html' with title='Anika Legal' description='Get free, ongoing legal support for rental issues' %}
    {% endblock %}
    {% block social_meta_card %}
      <meta property="og:image" content="https://{{ request.get_host }}{% static 'web/brand/social-card.png' %}" />
      <meta property="og:image:width" content="873" />
      <meta property="og:image:height" content="515" />
      <meta name="twitter:image" content="https://{{ request.get_host }}{% static 'web/brand/social-card.png' %}" />
      <meta name="twitter:card" content="summary_large_image" />
    {% endblock %}
    <!-- Favicon -->
    <link rel="icon" type="image/png" href="{% static 'web/brand/logo-icon-color.png' %}" />
    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@800&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap" rel="stylesheet" />
    <!-- Styling -->
    <link rel="stylesheet" type="text/css" href="{% static 'web/styles/global.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'web/styles/components.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'web/styles/daisyui.css' %}" />
    {% block styles %}

    {% endblock %}
  </head>
  <body>
    {% notice %}
    {% include 'web/snippets/_navbar.html' %}
    {% block content %}

    {% endblock %}
    {% block banner %}
      {% banner %}
    {% endblock %}
    {% include 'web/snippets/_footer.html' %}
    {% analytics %}
    <script type="text/javascript" src="{% static 'web/scripts/htmx.min.js' %}"></script>
    <script>
      document.body.addEventListener('htmx:configRequest', (event) => {
        event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}'
      })
    </script>
    {% block scripts %}

    {% endblock %}
  </body>
</html>
