{% extends "web/_base.html" %} 
{% block title %}About{% endblock %} 
{% block content %}

<h1>Blog</h1>
<input/>

<div class='bloglist'>
    {% for blog_entry in Blogs %}
    <div>
        <img/>
        <a href=/blog/{{ blog_entry.id }}>
            <h3>{{ blog_entry.title }}</h3>
        </a>
        <p>{{ blog_entry.body }}</p>
        <a href=/blog/{{ blog_entry.id }}>
            Read more >
        </a>
    </div>
    {% endfor %}
</div>
<div> <!-- the design has a [load more] button, which implys it should be javascript/AJAX -->
    {% if page_obj.has_previous %}
    <a href="?page=1">&laquo; first</a>
    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
    {% endif %}
    {{ page_obj.number }}
    {% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}">next</a>
    <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
    {% endif %}
</div>
<style>
    .bloglist {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(3,1fr);
    }
</style>
{% endblock %}
