{% extends "web/_base.html" %} 
{% load static %}
{% block title %}Impact{% endblock %} 
{% block content %}
<div class="container">
    <div class="brag">
        <h1>
            Our vision is a world where<br class="desktop-break">
            <span class="callout">everyone</span> can access justice
        </h1>
        <p style="max-width: 575px">
            We fight for this vision by providing free legal assistance to those who can’t access it through 
            practical legal training and trusted partnerships.
        </p>
    </div>
</div>
<div class="segment gold round-large top-right bottom-left">
    <div class="container">
        <h2>Our Approach</h2>
        <div class="divider"></div>
        <div class="card-grid four">
            <div class="card">
                <img class="icon" src="{% static 'web/img/approach/clients.svg' %}">
                <p class="header">Clients</p>
                <p class="compact">We provide our clients with a legal service that’s easy-to-use, lightning-fast, and with a real human every step of the way</p>
            </div>
            <div class="card">
                <img class="icon" src="{% static 'web/img/approach/students.svg' %}">
                <p class="header">Students</p>
                <p class="compact">We provide law students with practical training opportunities that are meaningful,  flexible and future-focused</p>
            </div>
            <div class="card">
                <img class="icon" src="{% static 'web/img/approach/universities.svg' %}">
                <p class="header">Universities</p>
                <p class="compact">We enable universities to offer practical legal training to their students, with an emphasis on technology</p>
            </div>
            <div class="card">
                <img class="icon" src="{% static 'web/img/approach/partners.svg' %}">
                <p class="header">Partners</p>
                <p class="compact">We allow our trusted partners to deliver positive social impact by supporting innovative and effective solutions</p>
            </div>
        </div>
    </div>
</div>
<div class="segment">
    <div class="container wide">
        <div class="link-list">
            <div class="card">
                <img class="icon" src="{% static 'web/img/about/impact.svg' %}">
                <h2>Our impact</h2>
                <a href="{% url 'impact' %}">
                    <button>See Impact</button>
                </a>

            </div>
            <div class="card">
                <img class="icon" src="{% static 'web/img/about/reports.svg' %}">
                <h2>Our reports</h2>
                <button>See Reports</button>
            </div>
            <div class="card">
                <img class="icon" src="{% static 'web/img/about/team.svg' %}">
                <h2>Our team</h2>
                <button>See Team</button>
            </div>
        </div>
    </div>
</div>
<div class="segment" style="padding-top: 15px; padding-bottom: 0">
    <div class="container">
        <div class="story center">
            <img class="round not-responsive top-left bottom-right bottom-left" src="{% static 'web/img/founders.jpg' %}">
            <div class="content">
                <h2>Our Story</h2>
                <p>
                    Anika began as six friends who entered the Melbourne Global Legal Hackathon 2018. What started as a weekend to hang out and solve some legal problems culminated in the winning idea for Anika, a whirlwind two months of building on the initial idea, and progressing to the Global Legal Hackathon final at a gala in New York City. After placing runners-up at the global final, the six friends, united by a passion for access to justice and the idea, decided to turn the idea into a reality and became co-founders of Anika Legal.
                </p>
                <p>
                    Now, these six friends are part of the collective that is Anika, a registered charity and social enterprise which provides free legal assistance to people who can’t access it, as well as practical legal education to law students. The team of six co-founders has blossomed to a team of 70 passionate people (and growing!), united by our vision of a world where everyone has access to justice.
                </p>
            </div>
        </div>
    </div>
</div>
{% include 'web/snippets/_footer_cta.html' with cta="Ready to solve your rental problems?" %}
{% endblock %}
