{% extends "web/_base.html" %} 
{% load static %}
{% load wagtail_clerk %}
{% block supertitle %}Anika Legal{% endblock %} 
{% block content %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'web/styles/pages/landing.css' %}">
{% endblock %}

<div class="landing-hero small">
    {% include 'web/snippets/_landing_hero_preview.svg' %}
    <div class="img"></div>
    <div class="container wide">
        {% include 'web/snippets/_landing_hero_text.html' %}
    </div>
</div>
<div class="landing-hero large">
    {% include 'web/snippets/_landing_hero_preview.svg' %}
    <img
        src="{% static 'web/img/landing-hero-1920.jpg' %}"
        alt="Girl at home on laptop, wearing headphones."
        srcset="
            {% static 'web/img/landing-hero-2560.jpg' %} 2560w,
            {% static 'web/img/landing-hero-1920.jpg' %} 1920w,
            {% static 'web/img/landing-hero-1080.jpg' %} 1080w
        "
        sizes="
            (min-width: 1080w) 1080px,
            (min-width: 1920w) 1920px,
            2560px
        "
     >
    <div class="container wide">
        {% include 'web/snippets/_landing_hero_text.html' %}
        <a href="https://anikalegal.com/closed-contact/">
            <button>Get free help</button>
        </a>
    </div>
</div>
<div class="landing-brag large">
    <div class="inner">
        {% include 'web/snippets/_landing_brag_text.html' %}
    </div>
</div>
<div class="landing-brag small">
    <div class="container">
        <a href="https://anikalegal.com/closed-contact/">
            <button>Get free help</button>
        </a>
        {% include 'web/snippets/_landing_brag_text.html' %}
    </div>
</div>


<div class="segment gold round-large top-right bottom-left">
    <div class="container wide">
        <h2>How it works</h2>
        <div class="divider"></div>
        <div class="card-grid">
            <div class="card">
                <img class="round-small top-right bottom-left" src="{% static 'web/img/how-it-works/intake.jpg' %}">
                <p class="header">1. Questionnaire</p>
                <p class="compact">It takes less than 10 minutes</p>
            </div>
            <div class="card">
                <img class="round-small top-right bottom-left" src="{% static 'web/img/how-it-works/call-you.jpg' %}">
                <p class="header">2. We’ll call you</p>
                <p class="compact">A paralegal assigned to your case will call you to discuss your situation</p>
            </div>
            <div class="card">
                <img class="round-small top-right bottom-left" src="{% static 'web/img/how-it-works/legal-advice.jpg' %}">
                <p class="header">3. Legal advice</p>
                <p class="compact">You’ll get an email outlining your rights and options</p>
            </div>
            <div class="card">
                <img class="round-small top-right bottom-left" src="{% static 'web/img/how-it-works/resolution.jpg' %}">
                <p class="header">4. Resolution</p>
                <p class="compact">We’ll work with you to reach a resolution that best fits you and your needs</p>
            </div>
        </div>
    </div>
</div>
<div class="container wide">
    <div class="story right">
        <div class="blue-ball">
            <img
                style="object-position: 50% 20%;max-height: 465px;"
                class="round not-responsive top-left bottom-left bottom-right"
                src="{% static 'web/img/photos/louise.jpg' %}"
            >
        </div>
        <div class="content">
            <h2>Louise’s story</h2>
            <p class="light">For 9 months, Louise pleaded with her landlord to get urgent repairs carried out at her home in preparation for the birth of her baby.</p>
            <p class="light">“I felt like I was on the edge of having a heart attack. At times I wanted to give up, it was all just getting too hard”.</p>
            <a href="{% clerk_slugurl 'louise-rental-repairs' %}">
                <button>Read more</button>
            </a>
        </div>
    </div>
</div>
<div class="segment gold round-large top-right bottom-left">
    <div class="container">
        <h2>Why use Anika?</h2>
        <div class="divider"></div>
        <div class="card-grid tight">
            <div class="card">
                <img class="icon" src="{% static 'web/img/icons/star.svg' %}">
                <p class="header">100% free</p>
                <p class="compact">We’re a non-profit so we’ll never charge you a cent.</p>
            </div>
            <div class="card">
                <img class="icon" src="{% static 'web/img/icons/valet.svg' %}">
                <p class="header">Personal support</p>
                <p class="compact">You’ll have a paralegal dedicated to your case, giving you ongoing legal support specific to your circumstances, every step <br class="desktop-break">of the way.</p>
            </div>
            <div class="card">
                <img class="icon" src="{% static 'web/img/icons/fast.svg' %}">
                <p class="header">Fast</p>
                <p class="compact">We’ll get back to you promptly.</p>
            </div>
            <div class="card">
                <img class="icon" src="{% static 'web/img/icons/law.svg' %}">
                <p class="header">Law you can understand</p>
                <p class="compact">No long documents & confusing legal jargon. Just what you need to know, in plain English, explained by a real human being.</p>
            </div>
            <div class="card">
                <img class="icon" src="{% static 'web/img/icons/house.svg' %}">
                <p class="header">Tenancy experts</p>
               <p class="compact">We focus exclusively on residential tenancy matters.</p>
            </div>
            <div class="card">
                <img class="icon" src="{% static 'web/img/icons/dial.svg' %}">
                <p class="header">Online assistance</p>
                <p class="compact">All assistance is online or over the phone, so you can take control of your living situation from the comfort of your couch.</p>
            </div>
        </div>
    </div>
</div>
<div class="segment">
    <div class="container">
        <h2>Our partners</h2>
        <div class="divider"></div>
        <div class="partner-logos">
            <img src="{% static 'web/img/partners/city-of-melbourne.svg' %}">
            <img src="{% static 'web/img/partners/tenants-vic.png' %}" width="280">
        </div>

    </div>
</div>
<div class="segment gold round-large top-right">
    <div class="container">
        <h2>What our clients say</h2>
        <div class="divider"></div>
        <div class="testamonial-list">
            {% for t in testimonials %}
                <div class="testamonial {% if forloop.first %}active{% endif %}">
                    <div class="quote">“</div>
                    <p class="light compact">{{ t.testimonial }}</p>
                </div>
            {% endfor %}
        </div>
        <div class="client-list">
            {% for t in testimonials %}
                <div class="client {% if forloop.first %}active{% endif %}">
                    <img src="{% static t.image %}">
                    <div class="details">
                        <p class="compact header">{{ t.name }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
<script>
    // Make the carousel work
    const clients = document.getElementsByClassName("client")
    const testamonials = document.getElementsByClassName("testamonial")
    let clientIdx = 0 // Start on client 0
    Array.prototype.slice.call(clients).map((client, idx) => {
        client.addEventListener('click', () => {
            clients[clientIdx].classList.remove("active")
            testamonials[clientIdx].classList.remove("active")
            clientIdx = idx
            clients[clientIdx].classList.add("active")
            testamonials[clientIdx].classList.add("active")
        })
    })           
</script>
<div id="contact-us" class="segment" style="padding: 0">
    <div class="container">
        <div id="contact">
            <div class="text">
                <h2>Contact us</h2>
                <p class="light">
                    If you want to learn more about how Anika can help you, fill in your details, and we’ll give you a call. 
                </p>
            </div>
            {% include 'web/htmx/_contact_form.html' %}
        </div>
    </div>
</div>
{% include 'web/snippets/_footer_cta.html' with cta="Ready to solve your rental problems?" %}
{% endblock %}
