{% extends "web/_base.html" %} 
{% load static %}
{% block title %}Our Team{% endblock %} 
{% block content %}
<div class="segment">
    <div class="container wide">
        <div class="story left">
            <div class="content">
                <h1>Meet our team</h1>
                <p>
                    Our team is a mix of employees and volunteers united by a vision of a world where everyone can access justice. 
                </p>
            </div>
            <img class="round not-responsive top-left top-right bottom-left" src="{% static 'web/img/photos/team-hero.jpg' %}">
        </div>
    </div>
</div>

<div class="brag short gold round-large top-right">
    <div class="container">
        <h1>
            Our leaders are a group of ambitious and dedicated individuals, passionate about providing access to justice through Anika Legal’s innovative service model. 
        </h1>
    </div>
</div>
<div class="segment">
    <div class="container">
        <div class="card-grid six">
            {% for member in members %}
                <div class="card profile blue round-small bottom-right bottom-left top-right">
                    <img class="round-small top-right bottom-left" src="{% static member.image %}">
                    <div class="content">
                        <p class="name">{{member.name}}</p>
                        <p class="title">{{member.title}}</p>
                        <ul>
                            {% for brag in member.brags %}
                                <li>{{ brag }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
<div class="segment gold round-large top-right bottom-left">

    <div class="container wide">
        <h2>Our Advisory Panel</h2>
        <div class="divider"></div>
        <div class="card-grid six">
            {% for member in advisors %}
                <div class="card profile round-small bottom-right bottom-left top-right">
                    <img 
                        class="round-small top-right bottom-left"
                        src="{% static member.image %}"
                        style="filter: grayscale(1);"
                    >
                    <div class="content">
                        <p class="name">{{member.name}}</p>
                        <p class="title">{{member.title}}</p>
                        <ul>
                            {% for brag in member.brags %}
                                <li>{{ brag }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            {% endfor %}
        </div>

    </div>
</div>


{% endblock %}
