{% extends "web/_base.html" %} 
{% load static %}
{% load wagtail_clerk %}
{% block title %}Philanthropic Partners{% endblock %} 
{% block social_meta %}
{% include 'web/snippets/_social_meta.html' with title="Philanthropic Partners" description="Create effective, sustainable impact with us" %}            
{% endblock %}
{% block content %}
<div class="hero-gold">
    <div class="external-radius outer">
        <div class="external-radius inner"></div>
    </div>
    <div class="hero-story">
        <div class="inner">
            <div class="content">
                <h1>Create effective, sustainable impact with us</h1>
                <p style="max-width: 530px">
                    We work closely with philanthropic trusts, foundations and individuals to power our free legal assistance, develop our sustainable business model and create new, innovative ways to achieve our social impact as effectively as possible.</p>
                <a href="mailto:partnerships@anikalegal.com">
                    <button>Get in touch</button>
                </a>
            </div>
            <img 
                class="round top-left bottom-left" 
                src="{% static 'web/img/photos/client-standing.jpg' %}"
            >
        </div>
    </div>
</div>

<div class="segment">
    <div class="container">
        <h2>Why partner with Anika?</h2>
        <div class="divider"></div>
        <div class="card-grid tight">
            <div class="card">
                <img class="icon" src="{% static 'web/img/icons/impact.svg' %}">
                <p class="header">Measurable impact</p>
                <p class="compact">We have an established <a href="{% url 'impact' %}">impact framework</a> and measurement system to demonstrate how your contribution is actually making a difference</p>
            </div>
            <div class="card">
                <img class="icon" src="{% static 'web/img/icons/star.svg' %}">
                <p class="header">Promotion of your philanthropic efforts</p>
                <p class="compact">We offer philanthropic partners exposure to Anika’s extensive corporate, media and community networks</p>
            </div>
            <div class="card">
                <img class="icon" src="{% static 'web/img/icons/email.svg' %}">
                <p class="header">We’ll keep you informed</p>
                <p class="compact">We’ll update you on your impact and key developments. As a charity registered with the ACNC we are also accountable through transparent reporting and leadership practices</p>
            </div>
        </div>
    </div>
</div>

<div class="segment gold round-large top-left bottom-right">
    <div class="container wide">
        <h2>Meet our philanthropic partners</h2>
        <p class="light">
            We gratefully acknowledge the following philanthropic partners and people who have made Anika Legal’s impact possible
        </p>

        <div class="divider"></div>
        <div class="partner-logos">
            <img src="{% static 'web/img/partners/city-of-melbourne.svg' %}" width="120">
            <img src="{% static 'web/img/partners/fya.png' %}" width="140">
            <img src="{% static 'web/img/partners/sunshine.jpg' %}" width="160">
            <h2 style="color: var(--blue); font-size: 32px;">Man Kit (David)<br>Yu</h2>
            <img src="{% static 'web/img/partners/woodards-foundation.jpg' %}" width="140">
            <img src="{% static 'web/img/partners/harold-mitchell.png' %}" width="160">
            <img src="{% static 'web/img/partners/tobin-brothers.png' %}" width="240">           
        </div>

    </div>
</div>

<div class="segment">
    <div class="container wide">
        <div class="story left">
            <div class="content">
                <h2>Here’s how we can work together</h2>
                <p class="light">
                    Our most impactful partnerships strengthen and evolve over multiple years, enabling us to grow and proactively respond to social need.
                </p>
                <a href="mailto:partnerships@anikalegal.com">
                    <button>Get in touch</button>
                </a>
            </div>
            <img
            style="object-position: 50% 20%;max-height: 465px;"
                class="round not-responsive top-left bottom-right top-right"
                src="{% static 'web/img/photos/boardroom.jpg' %}"
            >
        </div>
        <div class="story right" style="margin-top:2.5rem">
            <img
            style="object-position: 50% 20%;max-height: 465px;"
                class="round not-responsive top-left bottom-left bottom-right"
                src="{% static 'web/img/photos/tenant.jpg' %}"
            >
            <div class="content">
                <p class="light">
                    Here are a handful of ways you can partner with us:
                </p>
                <ul>
                    <li class="light">Fund projects and operations</li>
                    <li class="light">Assist us in achieving greater brand awareness</li>
                    <li class="light">Contribute in-kind support to build our capacity and reduce our expenses</li>
                </ul>
                <p class="light">
                    If you’d like to explore how you may be able to make a transformational philanthropic contribution, please get in touch with our Head of Philanthropy.
                </p>
            </div>
        </div>
    </div>
</div>


{% include 'web/snippets/_learn_more.html' with segment_class='gold round-large top-left' %}


{% endblock %}
