@import "styles/colors.scss";

$inputPadding: 0.375rem 0.75rem;

._wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 40rem;
  margin: 2rem auto 1rem;
}

._prompt {
  font-size: 2rem;
  padding: $inputPadding;
  margin-bottom: 0.5rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


._input {
  width: 100%;
  background-color: $lightest;
  padding: $inputPadding;
}
