{% extends "case/_base.html" %}
{% block title %}People{% endblock %}
{% block content %}
<div class="ui container">
    <h1>People</h1>
    <p>All people assigned as landlords or agents</p>
    <a href="{% url 'person-create' %}">
        <button class="ui button primary">
            Add a person
        </button>
    </a>    
    <form 
        id="search"
        class="ui form"
        hx-get="{% url 'person-search' %}"
        hx-target="#person-list"
        style="margin-top: 1rem"
    >
        <input type="submit" style="display: none" />
        <div class="field">
            <div class="ui search">
                <div class="ui icon input">
                <input 
                    name="person"
                    class="prompt"
                    type="text"
                    placeholder="Search by name, email, phone or address..."
                >
                <i class="search icon"></i>
            </div>
        </div>
    </form>
    <script>
        // Initialize JavaScript enabled Semantic UI elements.
        $('.selection.dropdown').dropdown()
        // Listen to input events on form
        const $submitEl = $('#search input[type="submit"]')
        $('#search input[name="person"]').on('input', () => $submitEl.click())
    </script>
    {% include "case/person/_list_table.html" %}
</div>
{% endblock %}
