# Backend
requests==2.27.1
Django>=4
tzdata

# Content management system
wagtail==2.16.1
wagtail-localize

# Cleans html
html-sanitizer==1.9.3
lxml[html_clean]

# Infrastructure
psycopg2-binary
gunicorn
sentry-sdk
django-q
awscli

# Frontend and static files
django-webpack-loader==1.4.1
whitenoise


# Authentication
social-auth-app-django==5.0.0
msal==1.16.0

# API
djangorestframework==3.13.1
django-cors-headers==3.11.0

# Emails and comms
mailchimp3==3.0.16
twilio==7.5.0
sendgrid

# Web scraping
beautifulsoup4

# Dev helpers
ipython
django-extensions
django-browser-reload
django-debug-toolbar
debugpy

# Development
watchdog[watchmedo]

# File storage
boto3
django-storages
django-cleanup
Pillow


# Linting
isort
black
flake8

# Testing
faker
pytest-django
pytest-factoryboy
responses
freezegun
openapi-spec-validator
drf-openapi-tester
django-override-storage

# Admin
pygments  # Pretty print JSON in admin
