# Backend
django
djangorestframework

# Infrastructure and tools
ipython
psycopg2-binary
django-extensions

# Infrastructure and tools (production)
gunicorn
raven

# Frontend
whitenoise
django-webpack-loader

# Development
django-debug-toolbar

# Testing
flake8
isort
black
pytest
pytest-django
pytest-factoryboy
