# Backend
requests
django

# Infrastructure
psycopg2-binary
gunicorn
sentry-sdk

# API
djangorestframework
django-cors-headers

# Static files
whitenoise

# Admin
django-extensions
ipython

# File storage
boto3
django-storages
Pillow

# Linting
isort
black
flake8

# Testing
faker
pytest-django
pytest-factoryboy
pytest-sugar
responses
freezegun

# Admin
pygments  # Pretty print JSON in admin