{# prettier-ignore-start #}
{% comment %}
Renders a ContactForm 
Args: 
  form: ContactForm
{% endcomment %}
{# prettier-ignore-end #}

{% if not form %}
  {% load contact %}
  {% contact_form as form %}
{% endif %}

<form hx-post="{% url 'landing-contact' %}" hx-target="this" hx-swap="outerHTML" hx-trigger="captcha-token-received">
  {% csrf_token %}
  <input type="text" name="name" placeholder="Name" required minlength="2" maxlength="64" />
  <input type="email" name="email" placeholder="Email" required />
  <input type="tel" name="phone" placeholder="Phone number" required minlength="8" maxlength="16" />
  <select name="referrer" required>
    <option value="">Where did you hear about us?</option>
    <option value="Word of mouth">Word of mouth</option>
    <option value="Legal centre">Legal centre</option>
    <option value="Charity">Charity</option>
    <option value="Other">Other</option>
    <option value="Pintrest">Pintrest</option>
    <option value="Google">Google</option>
    <option value="Facebook">Facebook</option>
    <option value="Instagram">Instagram</option>
  </select>
  <label class="checkbox">
    I agree to share my details with Anika Legal by ticking this box.<input type="checkbox" checked="checked" required />
    <span class="checkmark"></span>
  </label>
  {{ form.captcha }}
  <button type="submit">Contact us</button>
  {% for message in messages %}
    <div class="message">{{ message }}</div>
  {% endfor %}
  {% for field in form %}
    {% for error in field.errors %}
      <div class="message">{{ field.label }}: {{ error }}</div>
    {% endfor %}
  {% endfor %}
  {% for error in form.non_field_errors %}
    <div class="error message">Submission error: {{ error }}</div>
  {% endfor %}
</form>

<style>
  #contact {
    padding-top: 75px;
    display: flex;
    text-align: left;
    justify-content: space-between;
  }
  #contact .text {
    max-width: 360px;
    margin-right: 92px;
  }
  #contact form {
    box-shadow: 0px 4px 41px rgba(0, 55, 123, 0.15);
    border-radius: 22px;
    padding: 80px 75px 70px 75px;
    margin-bottom: 55px;
    max-width: 630px;
    box-sizing: border-box;
    gap: 2.5rem;
  }
  
  @media (max-width: 1300px) {
    #contact {
      flex-direction: column;
      padding-top: 30px;
    }
    #contact .text {
      max-width: 100%;
      margin-right: 0;
      margin-bottom: 20px;
    }
    #contact form {
      align-self: center;
    }
    #contact form input,
    #contact form select,
    #contact form .checkbox {
      margin-bottom: 44px;
    }
  }
  @media (max-width: 800px) {
    #contact form {
      width: calc(100vw);
      margin-left: calc(-1 * var(--container-padding));
      margin-right: calc(-1 * var(--container-padding));
      margin-bottom: -63px;
      padding: 50px 38px 48px 38px;
      z-index: 1;
    }
  }
</style>
