---
# This role installs PostgreSQL and configures it.
- include_vars: secrets.yml

# To set up locales for Postgres
#
# dpkg-reconfigure locales
#

# To really really purge Postgres off of your server:
#
# apt-get --purge remove postgresql\*
# rm -rf /etc/postgresql/
# rm -rf /etc/postgresql-common/
# rm -rf /var/lib/postgresql/
# userdel -r postgres
# groupdel postgres
#


# Postgres
- name: Install PostgreSQL
  apt: name={{ item }} state=present
  with_items:
    - postgresql
    - postgresql-contrib
    - libpq-dev
    - python-dev
    - python-psycopg2

- name: Copy postgresql config
  template:
    src: postgresql.conf
    dest: /etc/postgresql/10/main/postgresql.conf
    owner: postgres
    group: postgres
    mode: 0644

- name: Copy postgres hosts config
  template:
    src: pg_hba.conf
    dest: /etc/postgresql/10/main/pg_hba.conf
    owner: postgres
    group: postgres
    mode: 0640

- include_tasks: setup_db.yml
  loop_control:
    loop_var: db
  with_items:
    - name: clerk
      owner: "{{ PGUSER }}"
      password: "{{ PGPASSWORD }}"

- name: Restart postgresql
  service:
    name: postgresql
    state: restarted
