<div class="ui segment" id="options">
    <div class="ui header">
        Log an eligibility check
    </div>
    <p>
        Leave a note to record that you have performed an eligibility check for this case.
    </p>
    <hr class="ui divider" />
    <form 
        class="ui form  {% if form.errors %}error{% else %}success{% endif %}"
        hx-post="{{ url }}"
        hx-target="#options"
        hx-swap="outerHTML"
    >
        {% include 'case/forms/_dropdown_field.html' with field=form.note_type %}
        {% include 'case/forms/_textarea_field.html' with field=form.text %}
        {% include 'case/forms/_form_errors.html' %}
        {% include 'case/forms/_form_success.html' %}
        <button class="ui positive button" type="submit">Create record</button>
        <button  
            class="ui button tertiary" 
            hx-get="{{ options_url }}"
            hx-target="#options"
            hx-swap="outerHTML"
        >
            Cancel
        </button>
    </form>
    <script>
        // Initialize JavaScript enabled Semantic UI elements.
        $('.selection.dropdown').dropdown()
    </script>
</div>
{% if notes %}
    {% include 'case/case/_feed.html' with notes=notes %}
{% endif %}
