{% comment %} 
Renders a the ParalegalNoteForm
Args:
    form: ParalegalNoteForm
    issue: Issue
    htmx_notes: List[IssueNote] - only render in reponse to POST

{% endcomment %}
<div class="ui segment" id="options">
    <div class="ui header">
        Add a file note
    </div>
    <p>
        Leave a note of important case information, events or instructions. 
        This note is visible to everybody who has access to the case.
    </p>
    <hr class="ui divider" />
    <form 
        class="ui form  {% if form.errors %}error{% else %}success{% endif %}"
        hx-post="{{ url }}"
        hx-target="#options"
        hx-swap="outerHTML"
    >
        {% include 'case/forms/_textarea_field.html' with field=form.text %}
        {% include 'case/forms/_form_errors.html' %}
        {% include 'case/forms/_form_success.html' %}
        <button class="ui positive button" type="submit">Create note</button>
        <button  
            class="ui button tertiary" 
            hx-get="{{ options_url }}"
            hx-target="#options"
            hx-swap="outerHTML"
        >
            Cancel
        </button>
    </form>
</div>
{% if notes %}
    {% include 'case/case/_feed.html' with notes=notes %}
{% endif %}
