{% comment %} 
Renders a the ParalegalNoteForm
Args:
    form: ParalegalNoteForm
    issue: Issue
    htmx_notes: List[IssueNote] - only render in reponse to POST

{% endcomment %}
<div class="ui segment" id="options">
    <div class="ui header">
        Add a paralegal performance review note
    </div>
    {% if issue.paralegal %}
        <p>
            Leave a paralegal performance review note for {{ issue.paralegal.get_full_name }}. 
            This note is not visible to paralegals.
        </p>
        <hr class="ui divider" />
        <form 
            class="ui form  {% if form.errors %}error{% else %}success{% endif %}"
            hx-post="{{ url }}"
            hx-target="#options"
            hx-swap="outerHTML"
        >   
            {% include 'case/forms/_textarea_field.html' with field=form.text %}
            {% include 'case/forms/_form_errors.html' %}
            {% include 'case/forms/_form_success.html' %}
            <button class="ui positive button" type="submit">Create note</button>
            <button  
                class="ui button tertiary" 
                hx-get="{{ options_url }}"
                hx-target="#options"
                hx-swap="outerHTML"
            >
                Cancel
            </button>
        </form>
        <script>
        $('.ui.calendar').calendar({
            minDate: new Date(),
            type: 'date',
            formatter: {
            date: function (date, settings) {
                if (!date) return '';
                var day = date.getDate();
                var month = date.getMonth() + 1;
                var year = date.getFullYear();
                return month + '/' + day + '/' + year;
            }
            }

        })
        </script>
    {% else %}
        <p>
            There is no paralegal assigned to this case - cannot create a performance review.
        </p>
        <button  
            class="ui button tertiary" 
            hx-get="{{ options_url }}"
            hx-target="#options"
            hx-swap="outerHTML"
        >
            Cancel
        </button>
    {% endif %}
</div>
{% if notes %}
    {% include 'case/case/_feed.html' with notes=notes %}
{% endif %}
