<form 
    class="ui form  {% if form.errors %}error{% else %}success{% endif %}"
    hx-post="./close/"
    hx-target="this"
>
    <p>
        Close the case. 
    </p>
    <p>
        Please make sure you correctly set all of the fields in this form.
        This data is crucial for our reporting and decision making.
    </p>
    <hr class="ui divider" />
    {% include 'case/snippets/_dropdown_field.html' with field=form.outcome %}
    {% include 'case/snippets/_textarea_field.html' with field=form.outcome_notes %}
    {% include 'case/snippets/_checkbox_field.html' with field=form.provided_legal_services %}
    {% include 'case/snippets/_form_errors.html' %}
    {% include 'case/snippets/_form_success.html' %}
    <button class="ui positive button" type="submit">Close case</button>
</form>
<script>
    // Initialize JavaScript enabled Semantic UI elements.
    $('.selection.dropdown').dropdown()
</script>
{% include 'case/htmx/_case_status.html' with issue=issue %}
