{% comment %} 
Renders the feed for notes for a case
Args:
    notes: List[IssueNote]

{% endcomment %}
<div id="case-feed" class="ui large feed" hx-swap-oob="true">
    {% if not notes %}
        <p>No notes yet.</p>
    {% endif %}
    {% for note in notes %}
        {% if note.note_type == 'PARALEGAL' %}
            <div class="ui segment padded">
                <div class="ui top attached label primary">
                    {{ note.creator.get_full_name }}
                    <div class="detail">{{note.created_at|date:"jS M y, ga"}}</div>
                </div>
                <p style="margin-bottom: 0">{{ note.text }}</p>                           
                <div class="ui top right attached label primary">File note</div>
            </div>
        {% elif note.note_type == 'REVIEW' %}
            <div class="ui segment padded">
                <div class="ui top attached label orange">
                    {{ note.creator.get_full_name }}
                    <div class="detail">{{note.created_at|date:"jS M y, ga"}}</div>
                </div>
                <p style="margin-bottom: 0">{{ note.text }}</p>                           
                <div class="ui top right attached label orange">Case review</div>
                <div class="ui bottom right attached label">
                    Next review {{note.event|date:"jS M y"}}
                </div>
            </div>
        {% elif note.note_type == 'PERFORMANCE' %}
            <div class="ui segment padded">
                <div class="ui top attached label teal">
                    {{ note.creator.get_full_name }}
                    <div class="detail">{{note.created_at|date:"jS M y, ga"}}</div>
                </div>
                <p style="margin-bottom: 0">{{ note.text }}</p>                           
                <div class="ui top right attached label teal">Performance review</div>
            </div>
        {% endif %}
    {% endfor %}
</div>
