.about-graphic {
  width: 76%;
  margin-left: auto;
  margin-right: auto;
}
.about-graphic.desktop {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.about-graphic.mobile {
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: none;
}
.brag {
  padding-bottom: 100px;
}
@media (max-width: 1300px) {
  .about-graphic.desktop {
    display: none;
  }
  .about-graphic.mobile {
    display: block;
  }
  .brag {
    padding-bottom: 62px;
  }
}
