/*
Landing page only styles.
*/
:root {
  --hero-loading-color: #ededf2;

  /* Desktop size responsive vars */
  --hero-curve-height: 280px;
  --hero-padding-top: 98px;
  --hero-padding-bottom: 400px;
  --brag-height: 400px;
  --hero-small-image-height: 600px;
}

/* Shorter laptop screen size responsive vars */
@media (max-height: 800px) {
  :root {
    --hero-padding-top: 40px;
    --hero-padding-bottom: 350px;
  }
}

/* Tablet/phone screen size responsive vars */
@media (max-width: 1600px) {
  :root {
    --hero-curve-height: 100px;
    --hero-padding-top: 40px;
    --hero-padding-bottom: 350px;
  }
}

@media (max-width: 1300px) {
  :root {
    --brag-height: 200px;
    --hero-curve-height: 50px;
    --hero-padding-top: 40px;
    --hero-padding-bottom: 140px;
  }
}

/* Tablet/phone screen size responsive vars */
@media (max-width: 600px) {
  :root {
    --hero-curve-height: 46px;
    /* FIXME: CHRISTMAS */
    --hero-padding-top: -72px;

    --hero-padding-bottom: 0;
    --hero-small-image-height: 275px;
  }
}

.landing-hero {
  position: relative;
  padding-top: calc(var(--header-height-total) + var(--hero-padding-top));
  padding-bottom: var(--hero-padding-bottom);
  margin-top: calc(-1 * var(--header-height-total));
  box-sizing: border-box;
}
.landing-hero svg {
  background-color: var(--hero-loading-color);
}
.landing-hero.large svg {
  filter: blur(50px);
}

.landing-hero.large svg,
.landing-hero.large img {
  z-index: -1;
  width: 100vw;
  position: absolute;
  object-fit: cover;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.landing-hero.small svg {
  filter: blur(10px);
  z-index: -1;
  width: 100vw;
  clip: rect(0px, 100vw, var(--hero-small-image-height), 0px);
  position: absolute;
  object-fit: cover;
  top: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}
.landing-hero.small .img {
  height: var(--hero-small-image-height);
  background-image: var(--url-landing-hero-phone-img);
  background-position: 50% 30%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: -1;
}

.landing-hero.large {
  height: calc(
    max(716px, min(100vh, calc(68.7vw - var(--hero-curve-height)))) +
      var(--hero-curve-height)
  );
  overflow: hidden;
}

.landing-hero.large:before {
  content: "";
  background: white;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 100%;
  height: calc(var(--hero-curve-height) + 2px);
  border-radius: 0 25% 0 0/ 0 100% 0 0;
}
.landing-hero.small .container {
  margin-top: -15px;
}
.landing-hero.small .img::after {
  content: "";
  background: white;
  position: absolute;
  top: calc(var(--hero-small-image-height) - var(--hero-curve-height));
  left: 0;
  width: 100vw;
  height: calc(var(--hero-curve-height) + 1px);
  border-radius: 0 25% 0 0/ 0 100% 0 0;
}

.landing-hero.large p {
  color: var(--dark-3);
  max-width: 473px;
  line-height: 1.8;
}
.landing-brag.small,
.landing-brag.large .inner {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

.landing-brag.large {
  height: var(--brag-height);
  margin-top: calc(-1 * var(--hero-curve-height));
  position: relative;
}
.landing-brag.large .inner {
  position: absolute;
  height: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  padding: 0 var(--container-padding);
  box-sizing: border-box;
}
.landing-brag .brag-number {
  color: var(--blue);
}
.landing-brag.small {
  padding: 20px 0 70px 0;
}
.landing-brag.small button {
  margin: 30px auto 70px auto;
}
.landing-hero.small,
.landing-brag.small {
  display: none;
}

@media (max-width: 1300px) {
  .landing-hero.large {
    height: unset;
  }
  .landing-hero.large img {
    filter: sepia(0.4) opacity(0.4) grayscale(0.3);
    height: 100%;
    width: 100%;
    object-position: 50% -12%;
    transform: scale(1.8);
  }
  .landing-hero.large svg {
    display: none;
  }
}

@media (max-width: 600px) {
  .landing-hero.large,
  .landing-brag.large {
    display: none;
  }
  .landing-hero.small,
  .landing-brag.small {
    display: block;
  }
  .desktop-break {
    display: none;
  }
}

/* Louise's story */
.story {
  padding-top: 175px;
  padding-bottom: 150px;
}
.story img {
  width: 677px;
}
.story .content {
  padding-top: 32px;
}
@media (max-width: 1300px) {
  .story {
    padding-top: 42px;
    padding-bottom: 45px;
  }
}

.testamonial-list {
  background-color: var(--white);
  box-shadow: 0px 4px 30px rgba(0, 55, 123, 0.2);
  padding: 75px 65px 65px 65px;
  border-radius: 22px;
  text-align: left;
  margin-bottom: 55px;
}

.testamonial-list .testamonial {
  align-items: flex-start;
  display: flex;
  visibility: hidden;
  transition: opacity 2s ease-in;
  transition: height 2s ease-in;
  opacity: 0;
  height: 0;
}
.testamonial-list .testamonial.active {
  opacity: 1;
  visibility: visible;
  height: unset;
}
.testamonial-list .testamonial .quote {
  font-family: var(--font-serif);
  font-size: 110px;
  line-height: 60px;
  color: var(--blue);
  padding: 0 12px 0 12px;
}
@media (max-width: 1300px) {
  .testamonial-list {
    padding: 40px 30px;
  }
  .testamonial-list .testamonial {
    flex-direction: column;
  }
  .testamonial-list .testamonial .quote {
    margin-bottom: -35px;
    padding: 0;
  }
}

.client-list {
  position: relative;
  display: flex;
  justify-content: space-around;
  text-align: left;
}
.client-list .client {
  display: flex;
  position: relative;
  cursor: pointer;
  flex-direction: column;
  align-items: center;
}
.client-list .client img {
  width: 92px;
  height: 92px;
  background-color: var(--dark-6);
  border-radius: 100%;
  object-fit: cover;
}
.client-list .client .details {
  display: none;
}
.client-list .client.active .details {
  display: block;
  padding: 3px 0 0 0;
}
.client-list .client .details .name {
  font-weight: bold;
  color: var(--dark-1);
  font-size: 25px;
}
.client-list .client.active:before {
  content: "";
  background-color: var(--white);
  border-radius: 5px;
  position: absolute;
  width: 50px;
  height: 50px;
  transform: rotate(45deg);
  left: 19px;
  top: -82px;
}
@media (max-width: 600px) {
  .client-list .client img {
    width: 70px;
    height: 70px;
  }
  .client-list .client {
    display: none;
  }
  .client-list .client.active {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
  .client-list .client.active .details {
    padding: 14px 0 0 0;
  }
  .client-list .client.active:before {
    left: calc(50% - 27px);
  }
}

#contact {
  padding-top: 75px;
  display: flex;
  text-align: left;
  justify-content: space-between;
}
#contact .text {
  max-width: 360px;
  margin-right: 92px;
}
#contact form {
  box-shadow: 0px 4px 41px rgba(0, 55, 123, 0.15);
  border-radius: 22px;
  padding: 80px 75px 70px 75px;
  max-width: 630px;
  box-sizing: border-box;
  gap: 3rem;
}

@media (max-width: 1300px) {
  #contact {
    flex-direction: column;
    padding-top: 30px;
  }
  #contact .text {
    max-width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }
  #contact form {
    align-self: center;
  }
  #contact form input,
  #contact form select,
  #contact form .checkbox {
    margin-bottom: 44px;
  }
}
@media (max-width: 800px) {
  #contact form {
    width: calc(100vw);
    margin-left: calc(-1 * var(--container-padding));
    margin-right: calc(-1 * var(--container-padding));
    margin-bottom: -63px;
    padding: 50px 38px 48px 38px;
    z-index: 1;
  }
}
