<div class="dropdown">
    <span class="title">Get help</span>
    <div class="options">
        <a href="https://intake.anikalegal.com/">Start your case</a>
        <a href="{% url 'landing' %}">Evictions support</a>
        <a href="{% url 'landing' %}">Rental repairs</a>
        <a href="{% url 'landing' %}">Rental help resources</a>
    </div>
</div>
<div class="dropdown">
    <span class="title">Refer someone</span>
    <div class="options">
        <a href="{% url 'landing' %}">Community organisation</a>
    </div>

</div>
<div class="dropdown">
    <span class="title">About</span>
    <div class="options">
        <a href="{% url 'landing' %}">Anika</a>
        <a href="{% url 'landing' %}">Impact</a>
        <a href="{% url 'landing' %}">Team</a>
        <a href="{% url 'landing' %}">Newsroom</a>
        <a href="{% url 'landing' %}">Reports</a>
    </div>
</div>
<div class="dropdown">
    <span class="title">Get involved</span>
    <div class="options">
        <a href="{% url 'landing' %}">Partners</a>
        <a href="{% url 'landing' %}">Jobs at Anika</a>
        <a href="{% url 'landing' %}">Law students</a>
    </div>
</div>
<a href="#"><button id="donate">Donate</button></a>           
