<div class="dropdown">
    <span class="title">Get help</span>
    <div class="options">
        <a href="https://intake.anikalegal.com/">Start your case</a>
        <a href="{% url 'evictions' %}">Evictions support</a>
        <a href="{% url 'repairs' %}">Rental repairs</a>
    </div>
</div>
<a class="dropdown" href="{% url 'refer' %}">Refer someone</a>
<div class="dropdown">
    <span class="title">About</span>
    <div class="options">
        <a href="{% url 'about' %}">Anika</a>
        <a href="{% url 'impact' %}">Impact</a>
        <a href="{% url 'team' %}">Team</a>
        <a href="{% url 'reports' %}">Reports</a>
    </div>
</div>
{% comment %} <div class="dropdown">
    <span class="title">Get involved</span>
    <div class="options">
        <a href="{% url 'philanthropy' %}">Philanthropy</a>
        <a href="{% url 'corporates' %}">Corporates</a>
        <a href="{% url 'universities' %}">Universities</a>
        <a href="{% url 'community' %}">Community</a>
        <a href="{% url 'jobs' %}">Join the team</a>
    </div>
</div> {% endcomment %}
<a href="https://anika-legal.raisely.com/"><button id="donate">Donate</button></a>           
