<div class="dropdown">
    <span class="title">Get help</span>
    <div class="options">
        <a href="https://intake.anikalegal.com/">Start your case</a>
        <a href="{% url 'evictions' %}">Evictions support</a>
        <a href="{% url 'repairs' %}">Rental repairs</a>
    </div>
</div>
<a class="dropdown" href="{% url 'community' %}">Refer someone</a>
<div class="dropdown">
    <span class="title">About</span>
    <div class="options">
        <a href="{% url 'about' %}">Anika</a>
        <a href="{% url 'impact' %}">Impact</a>
        <a href="{% url 'team' %}">Team</a>
        <a href="{% url 'landing' %}">Newsroom</a>
        <a href="{% url 'landing' %}">Reports</a>
    </div>
</div>
<div class="dropdown">
    <span class="title">Get involved</span>
    <div class="options">
        <a href="{% url 'landing' %}">Partners</a>
        <a href="{% url 'landing' %}">Jobs at Anika</a>
        <a href="{% url 'landing' %}">Law students</a>
    </div>
</div>
<a href="#"><button id="donate">Donate</button></a>           
