<!-- Generic social meta tags -->
<meta name="description" content="{{ description }}" />

<!-- Facebook social meta tags -->
<meta property="og:locale" content="en_AU" />
<meta property="og:type" content="website" />
<meta property="og:site_name" content="Anika Legal" />
<meta property="og:title" content="{{ title }}" />
<meta property="og:description" content="{{ description }}" />
<meta property="og:url" content="https://anikalegal.com" />

<!-- Twitter social meta tags -->
<meta name="twitter:title" content="{{ title }}" />
<meta name="twitter:description" content="{{ description }}" />
<meta name="twitter:creator" content="https://twitter.com/anikalegal" />
<meta name="twitter:site" content="https://anikalegal.com" />
