{% load static %}
<div id="{{ id }}" class="link-list two">
    <div class="card">
        <img class="icon" src="{% static 'web/img/icons/change.svg' %}">
        <h2>See our<br class="mobile-break"> Theory of Change</h2>
        <a href="{% static 'web/docs/Theory-of-Change-Anika-Legal.pdf' %}">
            <button>View</button>
        </a>
    </div>
    <div class="card">
        <img class="icon" src="{% static 'web/img/icons/tree.svg' %}">
        <h2>See our<br class="mobile-break"> Impact Framework</h2>
        <a href="{% static 'web/docs/Impact-Framework-Anika-Legal.pdf' %}">
            <button>View</button>
        </a>
    </div>
</div>
