{% load static %}
<div id="{{ id }}" class="link-list two">
    <div class="card">
        <img class="icon" src="{% static 'web/img/icons/change.svg' %}">
        <h2>See our <br class="mobile-break">Theory of Change - Organisation</h2>
        <a href="{% static 'web/img/impact/theory-of-change-organisation.png' %}">
            <button>View</button>
        </a>
    </div>
    <div class="card">
        <img class="icon" src="{% static 'web/img/icons/change.svg' %}">
        <h2>See our <br class="mobile-break">Theory of Change - Advocacy</h2>
        <a href="{% static 'web/img/impact/theory-of-change-advocacy.png' %}">
            <button>View</button>
        </a>
    </div>
</div>
