{% extends "web/_base.html" %}
{% load static %}
{% block title %}About{% endblock %}
{% block social_meta %}
{% include 'web/snippets/_social_meta.html' with title="About" description="Anika Legal provides legal assistance to people who can't access it through practical legal education and trusted partnerships" %}
{% endblock %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'web/styles/pages/about.css' %}">
{% endblock %}

{% block content %}

<div class="hero-gold round-large bottom-left">
    <div class="hero-segment">
        <div class="brag container wide">
            <p><strong>Our Vision</strong></p>
            <h2>
                A world where everyone can <span class="callout">access
                    justice</span>
            </h2>
            <p><strong>Our Mission</strong></p>
            <h2>
                Empower renters to <span class="callout">thrive</span> in <span
                class="callout">safe homes</span>
            </h2>
        </div>
    </div>
</div>
<div class="segment" style="padding-bottom: 0;">
    <div class="container wide">
        <div class="card-grid">
            <div class="card">
                <h2>The Problem</h2>
                <div class="divider"></div>
                <p style="max-width: 575px">
                    Imagine living in a home that made you sick, having to choose
                    between paying rent or eating, or living in constant fear of
                    becoming homeless. That is the reality for many of the 7 million
                    renters in Australia who are denied a safe home.
                </p>
            </div>
            <div class="card">
                <h2>What We Do</h2>
                <div class="divider"></div>
                <p style="max-width: 575px">
                    Anika Legal is a free, not-for-profit legal service for renters. Through
                    casework, innovation and systemic advocacy, we support our clients
                    and fight for a fair housing system so that every renter can thrive
                    in a safe, secure, affordable home that supports their quality of
                    life.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="segment" style="padding-top: 50px;">
    <div class="container wide">
        <h2>Achieving our Vision</h2>
        <div class="divider"></div>
        <div id="vision" class="box">
            <div class="item graphic">
                <img src="{% static 'web/img/about-graphic.png' %}">
            </div>
            <div class="item text box">
                <div class="item">
                    <p class="header">Casework evidence fuels advocacy for systemic
                        change</p>
                    <p class="compact">Our ability to take on more cases aligned
                        with our advocacy goals, empowers renters to live in safe homes
                        and builds the evidence base for critical reforms to the housing
                        system. This in turn improves our ability to raise funding.</p>
                </div>
                <div class="item">
                    <p class="header">Additional funding enables investment in
                        innovation & technology</p>
                    <p class="compact">As Anika attracts more funding, it enables us
                        to invest in our innovation & technology platform, which enables
                        us to leverage untapped resources (students & lawyers) to
                        contribute thousands of hours to housing justice. It also
                        enables us to expand our service offerings and deliver them more
                        efficiently.</p>
                </div>
                <div class="item">
                    <p class="header">Expanding our service offerings enables us to
                        grow our student & lawyer programs</p>
                    <p class="compact">Expanding our service offerings enables us to
                        create opportunities for more students & lawyers to contribute
                        to access to justice. This leads to a more socially responsible
                        legal profession.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="segment">
    <div class="container wide">
        <div class="link-list three">
            <div class="card">
                <img class="icon" src="{% static 'web/img/icons/impact.svg' %}">
                <h2>Our Impact</h2>
                <a href="{% url 'impact' %}">
                    <button>See Impact</button>
                </a>
            </div>
            <div class="card">
                <img class="icon" src="{% static 'web/img/icons/reports.svg' %}">
                <h2>Our Reports</h2>
                <a href="{% url 'reports' %}">
                    <button>See Reports</button>
                </a>
            </div>
            <div class="card">
                <img class="icon" src="{% static 'web/img/icons/team.svg' %}">
                <h2>Our Team</h2>
                <a href="{% url 'team' %}">
                    <button>See Team</button>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="segment" style="padding-top: 15px; padding-bottom: 0">
    <div class="container">
        <div class="story center">
            <img class="round not-responsive top-left bottom-right bottom-left"
                src="{% static 'web/img/photos/founders.jpg' %}" style="max-height: 568px;object-position: 50% 35%;">
            <div class="content">
                <h2>Our Story</h2>
                <p>
                    The idea for Anika came about as six friends entered the
                    2018 Melbourne Global Legal Hackathon - a competition to
                    devise a solution to improve access to justice. They
                    immediately realised the scale of the barriers to justice,
                    and that a completely different approach was needed to
                    tackle such a massive problem. That hackathon weekend
                    birthed Anika, winning the Melbourne chapter and taking them
                    to the global final in New York. After placing runners-up,
                    the six friends decided to turn the idea into a reality and
                    became the Co-founders of Anika.
                </p>
                <p>
                    'Anika' is the Hindu goddess for justice - a warrior goddess
                    known for protecting all that is good against evil and
                    oppression. 'Anicca' is also the buddhist concept of things
                    being in a constant state of change. The name Anika
                    perfectly captures our vision and mission. Our vision of a
                    world where everyone can access justice. Our mission of
                    fighting for justice by doing things differently.
                </p>
                <p>
                    Today, Anika is a registered charity and social enterprise
                    with a team of over 70 people, united by our passion for
                    bridging the justice gap. Anika has empowered hundreds of
                    people to uphold their rights, and advocated for vital
                    systemic changes to the justice system.
                </p>
                <p>
                    If you want to help build a world where everyone can access
                    justice, <a href="https://cold-houses.raiselysite.com/">donate
                        here</a> or <a href="{% url 'subscribe' %}">subscribe to our
                        newsletter.</a>
                </p>
            </div>
        </div>
    </div>
</div>
{% include 'web/snippets/_footer_cta.html' with cta="Ready to solve your rental problems?" %}
{% endblock %}