{% extends "web/_base.html" %} 
{% load static %}
{% block title %}About{% endblock %}
{% block social_meta %}
{% include 'web/snippets/_social_meta.html' with title="About" description="Anika Legal provides legal assistance to people who can’t access it through practical legal education and trusted partnerships" %}            
{% endblock %}
{% block content %}

<div class="container">
    <div class="brag">
        <h1>
            Anika Legal provides free legal assistance to people<br class="desktop-break"> who<br class="mobile-break"> can’t access it through <br class="mobile-break">
            <span class="callout">practical legal<br class="desktop-break"> education</span>
            <br class="mobile-break">
            and
            <span class="callout">trusted partnerships</span>
        </h1>
        <div class="divider"></div>
    </div>
</div>
<div class="segment gold round-large top-right bottom-left">
    <div class="container">
        <h2>Our Approach</h2>
        <div class="divider"></div>
        <div class="card-grid four">
            <div class="card">
                <img class="icon" src="{% static 'web/img/icons/clients.svg' %}">
                <p class="header">Clients</p>
                <p class="compact">We provide our clients with a legal service that’s easy-to-use, lightning-fast, and with a real human every step of the way</p>
            </div>
            <div class="card">
                <img class="icon" src="{% static 'web/img/icons/students.svg' %}">
                <p class="header">Students</p>
                <p class="compact">We provide law students with practical training opportunities that are meaningful,  flexible and future-focused</p>
            </div>
            <div class="card">
                <img class="icon" src="{% static 'web/img/icons/universities.svg' %}">
                <p class="header">Universities</p>
                <p class="compact">We enable universities to offer practical legal training to their students, with an emphasis on technology</p>
            </div>
            <div class="card">
                <img class="icon" src="{% static 'web/img/icons/partners.svg' %}">
                <p class="header">Partners</p>
                <p class="compact">We allow our trusted partners to deliver positive social impact by supporting innovative and effective solutions</p>
            </div>
        </div>
    </div>
</div>
<div class="segment">
    <div class="container wide">
        <div class="link-list three">
            <div class="card">
                <img class="icon" src="{% static 'web/img/icons/impact.svg' %}">
                <h2>Our impact</h2>
                <a href="{% url 'impact' %}">
                    <button>See Impact</button>
                </a>
            </div>
            <div class="card">
                <img class="icon" src="{% static 'web/img/icons/reports.svg' %}">
                <h2>Our reports</h2>
                <a href="{% url 'reports' %}">
                    <button>See Reports</button>
                </a>
            </div>
            <div class="card">
                <img class="icon" src="{% static 'web/img/icons/team.svg' %}">
                <h2>Our team</h2>
                <a href="{% url 'team' %}">
                    <button>See Team</button>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="segment" style="padding-top: 15px; padding-bottom: 0">
    <div class="container">
        <div class="story center">
            <img 
                class="round not-responsive top-left bottom-right bottom-left" 
                src="{% static 'web/img/photos/founders.jpg' %}"
                style="max-height: 568px;object-position: 50% 35%;"   
            >
            <div class="content">
                <h2>Our Story</h2>
                <p>
                    Anika began as six friends who entered the Melbourne Global Legal Hackathon 2018. What started as a weekend to hang out and solve some legal problems culminated in the winning idea for Anika, a whirlwind two months of building on the initial idea, and progressing to the Global Legal Hackathon final at a gala in New York City. After placing runners-up at the global final, the six friends, united by a passion for access to justice and the idea, decided to turn the idea into a reality and became co-founders of Anika Legal.
                </p>
                <p>
                    Now, these six friends are part of the collective that is Anika, a registered charity and social enterprise which provides free legal assistance to people who can’t access it, as well as practical legal education to law students. The team of six co-founders has blossomed to a team of 70 passionate people (and growing!), united by our vision of a world where everyone has access to justice.
                </p>
            </div>
        </div>
    </div>
</div>
{% include 'web/snippets/_footer_cta.html' with cta="Ready to solve your rental problems?" %}
{% endblock %}
