{% extends "web/_base.html" %} 
{% load static %}
{% block title %}Reports{% endblock %} 
{% block social_meta %}
{% include 'web/snippets/_social_meta.html' with title="Reports" description="Anika Legal is an independent legal practice, tax-deductible charity & social enterprise. Our Annual, Financial and Impact Reports outline the work we do." %}            
{% endblock %}
{% block content %}
<div class="hero-gold">
    <div class="external-radius outer">
        <div class="external-radius inner"></div>
    </div>
    <div class="container wide">
        <div class="story left">
            <div class="content">
                <h1>Reports</h1>
                <p style="max-width: 530px">
                    Anika Legal is an independent legal practice, tax-deductible charity & social enterprise.
                    Our Annual, Financial and Impact Reports outline the work we do.
                </p>
                <a href="{% static 'web/docs/Anika-Legal-Annual-Report-2022-2023.pdf' %}">
                    <button>Latest annual report</button>
                </a>
            </div>
            <img 
                class="round not-responsive top-left top-right bottom-left" 
                src="{% static 'web/img/photos/mum.jpg' %}"
            >
        </div>
    </div>
</div>

<div class="segment">
    <div class="container wide">
        <h2 style="z-index: 1">
            Our reports and resources
        </h2>
        <div class="divider"></div>
        <div class="link-list two">
            <div class="card">
                <img class="icon" src="{% static 'web/img/icons/document.svg' %}">
                <h2>Annual Report<br class="mobile-break"> 2022-2023</h2>
                <p>
                    Read about the work we've done over the last year.
                </p>
                <a href="{% static 'web/docs/Anika-Legal-Annual-Report-2022-2023.pdf' %}">
                    <button>View</button>
                </a>
            </div>

            <div class="card">
                <img class="icon" src="{% static 'web/img/icons/document.svg' %}">
                <h2>Strategic Plan<br class="mobile-break"> 2023-2025</h2>
                <p>
                    Read about our plans for the future.
                </p>
                <a href="{% static 'web/docs/Anika-Legal-3Y-Strategic-Plan-FY23-25.pdf' %}">
                    <button>View</button>
                </a>
            </div>

            <div class="card">
                <img class="icon" src="{% static 'web/img/icons/document.svg' %}">
                <h2>Repairing rental homes (2022)</h2>
                <p>
                    Why self-enforcement fails tenants
                </p>
                <a href="{% static 'web/docs/Anika-Legal-Repairs-Report.pdf' %}">
                    <button>View</button>
                </a>
            </div>

            <div class="card">
                <img class="icon" src="{% static 'web/img/icons/document.svg' %}">
                <h2>Annual Report<br class="mobile-break"> 2021-2022</h2>
                <p>
                    Read about the work we've done over the 2021-2022.
                </p>
                <a href="{% static 'web/docs/Anika-Legal-Annual-Report-2021-2022.pdf' %}">
                    <button>View</button>
                </a>
            </div>

            <div class="card">
                <img class="icon" src="{% static 'web/img/icons/document.svg' %}">
                <h2>Financial Report<br class="mobile-break"> 2021-2022</h2>
                <p>
                    See an overview of our finances.
                </p>
                <a href="{% static 'web/docs/Anika-Legal-Financial-Report-2022.pdf' %}">
                    <button>View</button>
                </a>
            </div>

            <div class="card">
                <img class="icon" src="{% static 'web/img/icons/document.svg' %}">
                <h2>Annual Report<br class="mobile-break"> 2020-2021</h2>
                <p>
                    Read about the work we've done over 2020-2021.
                </p>
                <a href="{% static 'web/docs/Anika-Legal-Annual-Report-2020-2021.pdf' %}">
                    <button>View</button>
                </a>
            </div>

            <div class="card">
                <img class="icon" src="{% static 'web/img/icons/document.svg' %}">
                <h2>Financial Report<br class="mobile-break"> 2020-2021</h2>
                <p>
                    See an overview of our finances.
                </p>
                <a href="{% static 'web/docs/Anika-Legal-Financial-Report-2021.pdf' %}">
                    <button>View</button>
                </a>
            </div>

            <div class="card">
                <img class="icon" src="{% static 'web/img/icons/document.svg' %}">
                <h2>Annual Report<br class="mobile-break"> 2019-2020</h2>
                <p>
                    Read about the work we did in our first year of operation.
                </p>
                <a href="{% static 'web/docs/Anika-Legal-Annual-Report-2019-2020.pdf' %}">
                    <button>View</button>
                </a>
            </div>

            <div class="card">
                <img class="icon" src="{% static 'web/img/icons/document.svg' %}">
                <h2>Financial Report<br class="mobile-break"> 2018-2019</h2>
                <p>
                    See an overview of our finances. 
                </p>
                <a href="{% static 'web/docs/financial-report-2018-2019.pdf' %}">
                    <button>View</button>
                </a>
            </div>
        </div>

    </div>
</div>

<div class="segment gold round-large top-right ">
    <div class="container wide">
        <h2>
            Impact Resources
        </h2>
        <div class="divider"></div>
        {% include 'web/snippets/_theory_of_change.html' with id="toc-links" %}
    </div>
</div>

{% endblock %}
