{% extends 'web/_base.html' %}
{% load static %}
{% load reports %}
{% load wagtailcore_tags %}
{% block title %}
  Reports
{% endblock %}
{% block social_meta %}
  {% include 'web/snippets/_social_meta.html' with title='Reports' description='Anika Legal is an independent legal practice, tax-deductible charity & social enterprise. Our Annual, Financial and Impact Reports outline the work we do.' %}
{% endblock %}
{% block content %}
  <div class="hero-gold">
    <div class="external-radius outer">
      <div class="external-radius inner"></div>
    </div>
    <div class="container wide">
      <div class="story left">
        <div class="content">
          <h1>Reports</h1>
          <p style="max-width: 530px">Anika Legal is an independent legal practice, tax-deductible charity & social enterprise. Our Annual, Financial and Impact Reports outline the work we do.</p>
          <div>
            {% show_featured_report %}
          </div>
        </div>
        <img class="round not-responsive top-left top-right bottom-left" src="{% static 'web/img/photos/mum.jpg' %}" />
      </div>
    </div>
  </div>

  <div class="segment">
    <div class="container wide">
      <h2 style="z-index: 1">Our reports and resources</h2>
      <div class="divider"></div>
      <div class="link-list two">
        {% show_live_reports %}
      </div>
    </div>
  </div>
{% endblock %}
