{% extends "web/_base.html" %} 
{% load static %}
{% block title %}Our Team{% endblock %} 
{% block social_meta %}
{% include 'web/snippets/_social_meta.html' with title="Our Team" description="Our team is a mix of employees and volunteers united by a vision of a world where everyone can access justice." %}            
{% endblock %}
{% block content %}
<div class="hero-story tall">
    <div class="inner">
        <div class="content">
            <h1>Meet our team</h1>
            <p class="compact" style="max-width: 342px">
                Our team is a mix of employees and volunteers united by a vision of a world where everyone can access justice. 
            </p>
        </div>
        <img 
            class="round top-left bottom-left" 
            src="{% static 'web/img/photos/team-hero.jpg' %}"
            style="object-position: 50% 0%;"
        >
    </div>
</div>
<div class="brag short gold round-large top-right">
    <div class="container">
        <h1>
            Our leaders are a group of ambitious and dedicated individuals, passionate about providing access to justice through Anika Legal’s innovative service model. 
        </h1>
    </div>
</div>
<div class="segment">
    <div class="container">
        <div class="card-grid six">
            {% for member in members %}
                <div class="card profile blue round-small bottom-right bottom-left top-right">
                    <img class="round-small top-right bottom-left headshot" src="{% static member.image %}">
                    <div class="content">
                        <p class="name">{{member.name}}</p>
                        <p class="title">{{member.title}}</p>
                        <ul>
                            {% for brag in member.brags %}
                                <li>{{ brag }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
<div class="segment gold round-large top-right bottom-left">

    <div class="container wide">
        <h2>Our Advisory Panel</h2>
        <div class="divider"></div>
        <div class="card-grid six">
            {% for member in advisors %}
                <div class="card profile round-small bottom-right bottom-left top-right">
                    <img 
                        class="round-small top-right bottom-left headshot grey"
                        src="{% static member.image %}"
                    >
                    <div class="content">
                        <p class="name">{{member.name}}</p>
                        <p class="title">{{member.title}}</p>
                        <ul>
                            {% for brag in member.brags %}
                                <li>{{ brag }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            {% endfor %}
        </div>

    </div>
</div>

<div class="segment">
    <div class="container wide">
        <div class="story right">
            <div class="blue-ball">
                <img
                style="object-position: 50% 20%;max-height: 465px;"
                    class="round not-responsive top-left bottom-left bottom-right"
                    src="{% static 'web/img/photos/volunteers.jpeg' %}"
                >
            </div>
            <div class="content">
                <h2>Our volunteers</h2>
                <p class="light">
                    Anika’s volunteers comprise 90% of our team. They assist with cases, build our partnerships, design our services, and do our marketing.
                </p>
                <p class="light">The dedication of our exceptional volunteers make Anika’s impact possible.</p>
                {% comment %} <a href="{% url 'openings' %}">
                    <button>
                        Join the team
                    </button>
                </a> {% endcomment %}
            </div>
        </div>
    </div>
</div>

{% endblock %}
