/* Custom global styles go here */
:root {
  /* Colors */
  --blue: #438fef;
  --blue-mid: #104485;
  --blue-dark: #00377b;
  --blue-light: #eff6ff;
  --gold: #ebb900;
  --gold-light: #fff9e8;
  --peach: #f373655e;
  --dark-0: #000;
  --dark-1: #18191f;
  --dark-3: #333;
  --dark-4: #3f3f3f;
  --dark-5: #454545;
  --dark-6: #505050;
  --grey: #e8f1f5;
  --grey-2: #d9dbe1;
  --white: #fff;
  /* Sizes */
  --container-padding: 100px;
  --container-width: calc(100vw - 2 * var(--container-padding));
}

/* Responsive variables (phone) */
@media (max-width: 1000px) {
  :root {
    --container-padding: 24px;
  }
}

/* Whole page body */
html,
body {
  scrollbar-width: thin;
  margin: 0;
  padding: 0;
  min-height: 100%;
  box-sizing: border-box;
  background-color: #fdfdff !important;
}

body > header {
  background: var(--gold-light);
  margin-bottom: 3rem;
  box-shadow: 0px 0px 10px rgb(0 55 123 / 10%);
}

body > header .inner {
  display: flex;
  justify-content: space-between;
  max-width: 1240px;
  width: var(--container-width);
  margin: 0 auto;
  padding: 1.5rem 0;
  align-items: center;
}
body > header .logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
body > header img.logo {
  height: 42px;
}
body > header .nav-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
  flex-wrap: wrap;
  margin: 0 1.5rem;
}
body > header .nav-items:last-child {
  margin-right: 0;
}
body > header .nav-items a {
  color: var(--dark-1);
}
body > header .nav-items a:hover {
  text-decoration: underline;
}
body > header .nav-items a:visited {
}

.login .messages {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 0.5rem;
  align-items: center;
}

.login .messages .message {
  margin: 0;
}

main {
  max-width: 1240px;
  width: var(--container-width);
  margin: 0 auto;
  padding-bottom: 6rem;
}

/* Semantic UI fix */
.ui.dropdown > .dropdown.icon.clear:before {
  content: "\f00d";
  font-family: Icons;
}

/* Mantine */

.mantine-Table-table {
  /* Otherwise the background color set above shows through */
  background-color: var(--mantine-color-white);
}

.mantine-Table-thead {
  /* Match the Semantic UI table header background color to ensure consistency */
  background-color: #f9fafb;
}

form .mantine-InputWrapper-label {
  font-weight: bold;
  margin-bottom: 0.25rem;
}

.mantine-Modal-header {
  border-bottom: 1px solid var(--mantine-color-gray-3);
  margin-bottom: var(--mantine-spacing-lg);
}

.mantine-Modal-header .mantine-Modal-title {
  font-weight: bold;
  font-size: var(--mantine-font-size-lg);
}

.mantine-Title-root .subtitle {
  color: var(--mantine-color-dark-3);
  font-size: var(--mantine-font-size-lg);
}
