@import "styles/colors.scss";

$labelWidth: 6rem;
$inputHeight: calc(2.25rem + 2px);
$inputPadding: 0.375rem 0.75rem;

._wrapper {
  display: flex;
  align-items: stretch;
  width: 100%;
}

._label {
  display: flex;
  width: $labelWidth;
  align-items: center;
  padding: $inputPadding;
  font-size: 0.8rem;
  text-transform: uppercase;
  line-height: 1.5;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

._input {
  width: 100%;
  background-color: $lightest;
  height: $inputHeight;
  padding: $inputPadding;
  font-size: 1rem;
  line-height: 1.5;
  border: none;
  border-bottom: 1px solid $grey;
  &:focus {
    outline: none;
    border-color: $blue;
  }
  &:disabled {
    color: $text;
  }
}
