@import "input.scss";

.wrapper {
  display: grid;
  grid-template-columns: $labelWidth 1fr;
  grid-template-rows: auto;
  grid-template-areas: "label sub";
}

.label {
  @extend ._label;
  grid-area: label;
  align-self: start;
}

.sub {
  grid-area: sub;
}
