{% extends "case/_base.html" %}
{% block title %}{{ user.get_full_name|title }}{% endblock %}

{% block content %}
<div class="ui container">
    <h1 class="ui header">
        {{ user.get_full_name|title }} {% if user.is_intern %}(intern){% endif %}
        <div class="sub header">
            {{ user.email }}
        </div>
    </h1>

    <h2 class="ui header dividing">
        User Details
    </h2>
    {{ forms.details }}

    <h2 class="ui header dividing">
        User Permissions
    </h2>
    <style>
        .htmx-request {
            opacity: 0.5;
            cursor: not-allowed;
            pointer-events: none;
        }
        #loading:after {
            overflow: hidden;
            display: inline-block;
            vertical-align: bottom;
            animation: ellipsis steps(4,end) 900ms infinite;
            content: "\2026";
            width: 0px;
        }

        @keyframes ellipsis {
            to {
                width: 1.25em;    
            }
        }
    </style>
    <div 
        id="perms"
        hx-target="#perms"
        hx-trigger="load"
        hx-get="{% url 'account-user-perms' user.pk %}"
        style="margin: 1em 0;"
    >
        <p id="loading">
            Loading user permissions
        </p>
    </div>

    <h2 class="ui header dividing">
        Case Summary
    </h2>
    <table class="ui definition small table">
        <tbody>
            <tr>
                <td class="six wide">Latest Case</td>
                {% if user.latest_issue_created_at %}
                    <td class="six wide">{{ user.latest_issue_created_at|date:"d/m/y" }}</td>
                {% else %}
                    <td class="six wide">Never</td>
                {% endif %}
            </tr>
            <tr>
                <td>Open (Repairs / COVID / Eviction)</td>
                <td>{{user.open_cases }} ({{user.open_repairs }}/{{user.open_rent_reduction }}/{{user.open_eviction }})</td>
            </tr>
            <tr>
                <td>Total Cases</td>
                <td>{{ user.total_cases }}</td>
            </tr>
        </tbody>
    </table>

    <h2 class="ui header dividing">
        Case List
    </h2>
    {% include "case/case/_list_table.html" with issues=user.issue_set.all %}

    {% if request.user.is_coordinator_or_better %}
        <h2 class="ui header dividing">
            Performance Reviews
        </h2>
        {% for note in user.issue_notes.all %}
            <div class="ui segment padded">
                <div class="ui top attached label teal">
                    {{ note.creator.get_full_name }}
                    <div class="detail">{{note.created_at|date:"jS M y, ga"}}</div>
                </div>
                <p style="margin-bottom: 0">{{ note.text }}</p>                           
                <div class="ui top right attached label teal">Performance review</div>
                <div class="ui bottom right attached label">
                    Case 
                    <a href="{% url 'case-detail-view' note.issue.pk %}">
                        {{ note.issue.fileref }}
                    </a>
                </div>
            </div>
        {% empty %}
        <p>Nothing here... yet</p>
        {% endfor %}
    {% endif %}
</div>
{% endblock %}

