{% extends "case/_base.html" %}
{% block title %}Accounts{% endblock %}
{% block content %}
<div class="ui container">
    <h1>Accounts</h1>
    <p>All system users</p>
    <a href="{% url 'account-create' %}">
        <button class="ui button primary">
            Invite a paralegal
        </button>
    </a>    
    <form 
        id="account-search"
        class="ui form"
        hx-get="."
        hx-target="#account-list"
        style="margin-top: 1rem"
    >
        <input type="submit" style="display: none" />
        <div class="two fields">
            <div class="field">
            <div class="ui search">
                <div class="ui icon input">
                <input name="name" class="prompt" type="text" placeholder="Search names...">
                <i class="search icon"></i>
                </div>
            </div>
            </div>
            <div class="field">
                <div class="ui clearable selection fluid dropdown">
                    <input type="hidden" name="groups" />
                    <i class="dropdown icon"></i>
                    <div class="default text">Filter groups</div>
                    <div class="scrollhint menu">
                        <div class="item" active data-value="Paralegal">Paralegal</div>
                        <div class="item" data-value="Coordinator">Coordinator</div>
                        <div class="item" data-value="Admin">Admin</div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <script>
        // Initialize JavaScript enabled Semantic UI elements.
        $('.selection.dropdown').dropdown()
        // Listen to input events on form
        const $submitEl = $('#account-search input[type="submit"]')
        $('#account-search input[name="name"]').on('input', () => $submitEl.click())
        $('#account-search input[name="groups"]').on('change', () => $submitEl.click())
    </script>
    {% include "case/accounts/_list_table.html" with issues=issue_page %}
</div>
{% endblock %}
